<div class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="My School">
      <form #f="ngForm" name="mySchoolForm">
        <div class="p-grid">
          <div class="p-col-12 p-md-12 p-lg-12">
            <p-card>
              <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-2">
                                   <div><label for="_curriculum">Curriculum<span
                                            class="form-mandatory-field">*</span></label></div>
                                    <p-dropdown [options]="curriculumOptions" [(ngModel)]="curriculum"
                                        name="_curriculum" optionLabel="label" placeholder="-select-" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_hmname">Headmaster Name<span
                                                class="form-mandatory-field">*</span></label></div>
                                    <input type="text" class="p-col-12" name="_hmname" pInputText
                                        [(ngModel)]="headMasterName" appInputFormat="noSpecialChars" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_email">Email Id<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="email" class="p-col-12" name="_email" pInputText [(ngModel)]="email"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_phoneno">Contact Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="tel" class="p-col-12" name="_phoneno" minlength="10" maxlength="10"
                                        pInputText [(ngModel)]="phoneNo" appInputFormat="digitOnly" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_landlineno">Landline Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="tel" class="p-col-12" name="_landlineno" pInputText
                                        [(ngModel)]="landlineNo" required />
                                </div>
                                <!-- <div #row1 class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-grid"> -->
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_address"> School Address<span
                                                        class="form-mandatory-field">*</span></label></div>
                                            <textarea pInputTextarea [(ngModel)]="address" name="_address" rows="2"
                                                cols="18" class="p-col-12" required></textarea>
                                        </div>
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_pincode">Pincode<span
                                                        class="form-mandatory-field">*</span></label></div>
                                            <input type="text" class="p-col-12" name="_pincode" minlength="6"
                                                maxlength="6" pInputText [(ngModel)]="pincode"
                                                appInputFormat="digitOnly" required />
                                        </div>
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_faxno">Fax Number</label></div>
                                            <input type="text" class="p-col-12" name="_faxno" pInputText
                                                appInputFormat="faxFormat" minlength="14" maxlength="14"
                                                 [(ngModel)]="faxNo" required />
                                        </div>
                                        <div class="p-col-12 p-md-6 p-lg-3">
                                            <label for="_hmphoto">HeadMaster Photo</label>
                                            <!-- <div class="p-grid"> -->
                                                <!-- <div class="p-col-6 p-md-6 p-lg-6"> -->
                                                    <div class="p-inputgroup">
                                                    <input #fileSelector class="p-col-10" name="_studentimg" type="file"
                                                        pInputText (change)="uploadFile($event)" accept=".png"
                                                         />
                                                         <button pButton type="button" icon="pi pi-times-circle"
                                                         (click)="onRemoveFile()"></button>
                                                        </div>
                                                <!-- </div> -->
                                                <div class="p-col-6 p-md-6 p-lg-4 no-pad-left">
                                                    <img *ngIf="showImg" width="100px" height="100px"
                                                        [src]="_d.bypassSecurityTrustUrl(URL)" />
                                                </div>
<!-- 
                                            </div> -->
                                        </div>
                                    <!-- </div> -->
                                <!-- </div> -->
                                <div class="p-col-12 p-md-12 p-lg-12 txt-center">
                                    <button pButton name="save" type="button" label="Submit" icon="pi pi-save"
                                        (click)="onSave()" [disabled]="(!f.valid)"></button>&nbsp;
                                    <button pButton name="view" type="button" label="View" icon="pi pi-eye"
                                        (click)="onView()"></button>
                                </div>
                            </div>
                        </p-card>
                        </div>
                    </div>
              
            </form>
        </p-panel>
        </div>
