<div class="p-col-12" style="padding-top:25px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="My School">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <form #f="ngForm" name="mySchoolForm">
                <p-card>
                    <div class="p-col-12 no-pad-top" style="margin-left: -8px;">
                        <div #row1 class="p-col-12 p-md-12 p-lg-12">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <label for="_curriculum">Curriculum<span
                                            class="form-mandatory-field">*</span></label>
                                    <p-dropdown [options]="curriculumOptions" [(ngModel)]="curriculum"
                                        name="_curriculum" optionLabel="label" placeholder="select curriculum" required>
                                    </p-dropdown>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_hmname">Headmaster Name<span
                                                class="form-mandatory-field">*</span></label></div>
                                    <input type="text" class="p-col-12" name="_hmname" pInputText
                                        [(ngModel)]="headMasterName" required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_email">Email Id<span class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="email" class="p-col-12" name="_email" pInputText [(ngModel)]="email"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_phoneno">Phone Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="tel" class="p-col-12" name="_phoneno" pInputText [(ngModel)]="phoneNo"
                                        required />
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-2">
                                    <div><label for="_landlineno">Landline Number<span
                                                class="form-mandatory-field">*</span></label>
                                    </div>
                                    <input type="tel" class="p-col-12" name="_landlineno" pInputText
                                        [(ngModel)]="landlineNo" required />
                                </div>
                                <div #row1 class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-6 p-lg-4">
                                            <div><label for="_address">Address<span
                                                        class="form-mandatory-field">*</span></label></div>
                                            <textarea pInputTextarea [(ngModel)]="address" name="_address" rows="3"
                                                cols="43" required></textarea>
                                        </div>
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_pincode">Pincode<span
                                                        class="form-mandatory-field">*</span></label></div>
                                            <input type="text" class="p-col-12" name="_pincode" pInputText
                                                [(ngModel)]="pincode" required />
                                        </div>
                                        <div class="p-col-12 p-md-6 p-lg-2">
                                            <div><label for="_faxno">Fax Number<span
                                                        class="form-mandatory-field">*</span></label></div>
                                            <input type="text" class="p-col-12" name="_faxno" pInputText
                                                [(ngModel)]="faxNo" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6" style="text-align:right;">
                                    <button pButton name="save" type="button" label="Save" (click)="onSave()"
                                        [disabled]="(!f.valid)"></button>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                    <button pButton name="view" type="button" label="View"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </form>
        </div>
    </p-panel>
</div>