<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="My Achievements">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="MyAchievementForm">
          <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
              <div class="p-grid">
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label>Event Date<span class="form-mandatory-field">*</span></label></div>

                  <p-calendar [(ngModel)]="date" [showIcon]="true" name="date"  required></p-calendar>
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label for="_Category">Category<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_Category" (onClick)="onSelect('C')" [options]="CategoryOption" [(ngModel)]="Category" >
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label for=_event>Event Name<span class="form-mandatory-field">*</span></label></div>
                  <input class="p-col-12" type="text" name="_event"  pInputText [(ngModel)]="event" style="text-transform: capitalize;"
                   appInputFormat="noSpecialChars" required />
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label for=_place>Place<span class="form-mandatory-field">*</span></label></div>
                  <input class="p-col-12" type="text" name="_place" pInputText [(ngModel)]="Place" style="text-transform: capitalize;"
                  placeholder="Event held on" appInputFormat="noSpecialChars" required />
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label for="_Award">Award Title<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_Award" [options]="AwardOption" (onClick)="onSelect('A')"  [(ngModel)]="Award">
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-3">
                  <label for="_file">Upload Certificate<span class="form-mandatory-field">*</span></label>
                  <input type ="file" #file placeholder="Choose file" name="_file"
                  pInputText (change)="uploadFile(file.files)" accept=".pdf,.png,.jpg,.jpeg" required />
                </div>
                <div class=p-col-12></div>
                <div class="p-col-5 p-md-5 p-lg-5" style="text-align: right;">
                  <button pButton type="button" label="Save" icon="pi pi-save" (click)="onSubmit()" [disabled]="(!f.valid)"
                     ></button>
                    </div>
                    <div  class="p-col-7 p-md-7 p-lg-7"> 
                  <button pButton type="button" label="View" icon="pi pi-eye" (click)="onView()"></button>
                  </div>
                </div>
                <div *ngIf="showtable"> 
                <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                  [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 1.5cm;">S.No</th>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                      </th>

                      <th>
                        Download
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                      <td>{{rowIndex+1}}</td>
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                      <td style="width: 142px;"><i class="pi pi-download" (click)="onDownload(rowData.filename)" 
                        style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></i></td>
                       
                      </tr>
                        </ng-template>
                </p-table>
                </div>
              </div>
          </p-card>
        </form>
      </div>
    </p-panel>
    <p-confirmDialog #cd  [style]="{width: '30vw'}">
      <ng-template pTemplate="header">
        <h3>Alert</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
    </p-confirmDialog>
  </div>
</block-ui>