<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="My Achievement">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="no-pad-top"><label>Date:</label> <br>
            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                      <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Events:</label><br>
                        <input  type="text" name="Events" size="24" pInputText [(ngModel)]="Events"/> 
                    </div>
                    <!-- <div><label>Occassion/Festival/Events:</label></div><br>
                    <input type="text" name="_Events" size="25" pInputText [(ngModel)]="Events"/>
            </div> -->


                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Place:</label><br>
                        <!-- <input id="float-input"  type="text" size="24" pInputText>  -->
                        <input  type="text" name="Place" size="24" pInputText [(ngModel)]="Place"/> 
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Status:</label><br>
                        <!-- <input id="float-input"  type="text" size="24" pInputText>  -->
                        <input  type="text" name="Status" size="24" pInputText [(ngModel)]="Status"/> 
                        
                    </div>
                  
           
               </div>
            </div>
        </p-card>
        <div class="p-col-12 p-md-12 p-lg-12">
            <button pButton type="button" label="Submit" (click)="onSubmit()" style="margin-left: 30%;"></button>
       <!-- </div>
       <div class="p-col-6 p-md-6 p-lg-12"> -->
            <button pButton type="button" label="View" onclick="onView()" style="margin-left: 5%;"></button>
       </div>
        </div>
    </p-panel>
</div>
   



