<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Classroom Download">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <p-card>

                <div class="p-col-12 p-md-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div class="no-pad-top"><label>Date:</label> </div>
                            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                        </div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div><label>Subject:</label></div>
                            <input type="text" size="25" pInputText [(ngModel)]="Subject" appInputFormat="noSpecialChars" />
                        </div>


                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div><label>Duration:</label></div>

                            <input type="text" size="25" pInputText [(ngModel)]="Duration" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div><label>Attach Session:</label></div>
                            <input class="p-col-12" name="_UploadSession" type="file" pInputText
                                (change)="onFileUpload($event, 4)" accept=".png" />
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </p-panel>
</div>