<div class="p-col-12 p-md-12 p-lg-12" >
  <p-toast position="top-center" key="t-msg"></p-toast>
  <p-panel header="Announcement From School Admin">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
      <p-card>
        <div>
          <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
           [loading]="loading" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header"  let-columns>
              <tr>
                <th style="width: 40px;">S.No</th>
                <th *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
                <th style="width: 70px;">
                  Download
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
              <tr>
                <td style="width: 40px;">{{rowIndex+1}}</td>
                <td *ngFor="let col of columns" [style.text-align]="col.align">
                  {{rowData[col.field]}}
                </td>
                <td style="width: 90px;" class="cursor-pointer"><i class="pi pi-download" (click)="onDownload(rowData.Announcementfilename)" 
                   style="color: #45e327; font-size: 1.3rem;"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </p-panel>
  <p-confirmDialog #cd  [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
      <h3>Alert</h3>
  </ng-template>
  <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
  </p-confirmDialog>
</div>