<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
  <p-panel header="ANNOUNCEMENTS">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
      <p-card>
        <div>
          <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
           totalRecords="totalRecords" pageLinks="3">
            <ng-template pTemplate="header"  let-columns>
              <tr>
                <th style="width: 40px;">S.No</th>
                <th *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
                <th style="width: 100px;">
                  Download
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
              <tr>
                <td>{{rowIndex+1}}</td>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>

                <td style="width: 142px;"><i class="pi pi-download" (click)="onDownload(rowData.Announcementfilename)" 
                   style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </p-panel>
</div>