<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
        <p-panel header="Books">
            <div class="p-col-12 p-md-12 p-lg-12">
                <div style="font-style: italic; font-size: 15px; color: rgb(11, 43, 102);">
                    * Incase of any queries,contact school
                </div>
                <div style="font-style: italic; font-size: 15px; color: rgb(11, 43, 102);">
                    * Please select your preference and click on proceed
                </div>
              
                <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
                totalRecords="totalRecords" pageLinks="3">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 1.5cm;">S.No</th>
                    <th *ngFor="let col of columns" [style.width]="col.width">
                      {{col.header}}
                    </th>
                    <th>
                      Download
                    </th>
                  </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                  <tr [pSelectableRow]="rowData"  class="cursor-pointer">
                    
                  <!--<tr [pSelectableRow]="rowData"  class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">-->
                   <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                      {{rowData[col.field]}}
                    </td>
                 
                  
                    <td style="width: 142px;"><i class="pi pi-download" (click)="onDownload(rowData.Pdffilename)" 
                      style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></i></td>
                </tr>
            </ng-template>
              </p-table>

                
            </div>
        </p-panel>
        <p-confirmDialog #cd  [style]="{width: '30vw'}">
          <ng-template pTemplate="header">
            <h3>Alert</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        </ng-template>
        </p-confirmDialog>
</div>