<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Online Assignments">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="AssignmentForm">
          <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
              <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label>Assigning Date<span class="form-mandatory-field">*</span></label> </div>
                  <p-calendar [showOtherMonths]="false" [(ngModel)]="assignDate" [showIcon]="true" name="assignDate"  required></p-calendar>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label> Due Date<span class="form-mandatory-field">*</span></label></div>
                  <p-calendar [showOtherMonths]="false" [(ngModel)]="dueDate" [showIcon]="true" name="dueDate" required></p-calendar>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_classId">Class<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_classId" [options]="classOptions" [(ngModel)]="classId" optionLabel="label"
                    (onClick)="onSelect1('C')" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_sectionId"> Section<span class="form-mandatory-field">*</span></label> </div>
                  <p-dropdown name="_sectionId" [options]="sectionOptions" [(ngModel)]="sectionId" optionLabel="label"
                    (onClick)="onSelect1('S')" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label> Subject Name<span class="form-mandatory-field">*</span></label></div>
                  <input class="p-col-12" type="text" pInputText [(ngModel)]="subjectname" name="subjectname"
                  appInputFormat="noSpecialChars" required>
                </div> 
            <div class=p-col-12></div>
                <div #row2 class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                  <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_AType">Assignment Type<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_AType" [options]="TypeOptions" [(ngModel)]="AType" (onClick)="onSelect()" optionLabel="label" >
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label> Assigning Work<span class="form-mandatory-field">*</span></label></div>
                  <input class="p-col-12" type="text" pInputText [(ngModel)]="assignmentwork"
                    name="assignmentwork" appInputFormat="noSpecialChars" required>
                </div>
                <!-- <div class="p-col-12 p-md-6 p-lg-3">
                  <label for="_assign">Attach File<span class="form-mandatory-field">*</span></label>
                  <input type ="file" #file placeholder="Choose file" 
                     class="p-col-12"   pInputText (change)="uploadFile(file.files)" accept=".pdf" required />
                </div> -->
            <div class=p-col-12></div>
            <div class="p-col-5 p-md-5 p-lg-5" style="text-align: right;">
              <button pButton type="button" label="Submit" icon="pi pi-save" (click)="onSubmit()" [disabled]="(!f.valid)"
                 ></button>
                </div>
                <div  class="p-col-6 p-md-6 p-lg-6"> 
              <button pButton type="button" label="View" icon="pi pi-eye" (click)="onView()"></button>
              <button pButton type="button" label="Clear" icon="pi pi-times-circle" (click)="clear()" style="margin-left: 2%;"></button>
              </div>
              </div>
              </div>
              </div>
            </div>
  </p-card>
</form>
  </div>
    <div *ngIf="Showtable"> 
        <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="50" [rowsPerPageOptions]="[10,20,30,50]" [loading]="loading"
          totalRecords="totalRecords" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 40px;">S.No</th>
              <th *ngFor="let col of columns" [style.width]="col.width">
                {{col.header}}
              </th>
              <th style="width: 100px;">
                Download
              </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
              <td>{{rowIndex+1}}</td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
              <td style="width: 142px;"><i class="pi pi-download" (click)="onDownload(rowData.Assignmentfilename)" 
                style="color: #45e327; font-size: 1.3rem;"></i></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    <p-confirmDialog #cd  [style]="{width: '50vw'}">
      <ng-template pTemplate="header">
        <h3>Alert</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
    </p-confirmDialog>
   
  </p-panel>
  </div>
</block-ui>