<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Nomination">
      <form #f="ngForm" name="NomineeForm">
        <div class="p-grid">
          <div class="p-col-12 p-md-12 p-lg-12">
            <p-card>
              <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label>Assigning Date<span class="form-mandatory-field">*</span></label> </div>
                  <p-calendar class="p-col-12"  dateFormat="dd/mm/yy" [showOtherMonths]="false" [(ngModel)]="assignDate" [showIcon]="true"
                    name="_assignDate" required></p-calendar>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label> Due Date<span class="form-mandatory-field">*</span></label></div>
                  <p-calendar class="p-col-12"  dateFormat="dd/mm/yy" [showOtherMonths]="false" [(ngModel)]="dueDate" [showIcon]="true"
                    name="_dueDate" required></p-calendar>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_class">Class<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_class" [options]="classOptions" [(ngModel)]="classId" (onClick)="onSelect('CL')"
                    required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_section"> Section<span class="form-mandatory-field">*</span></label> </div>
                  <p-dropdown name="_section" [options]="sectionOptions" [(ngModel)]="sectionId"
                    (onClick)="onSelect('SC')" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_subject">Subject<span class="form-mandatory-field">*</span></label>
                  </div>
                  <p-dropdown name="_subject" [options]="subjectOptions" [(ngModel)]="subject" (onClick)="onSelect('SB')"
                    required>
                  </p-dropdown>
                </div>
                <!-- <div #row2 class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                  <div class="p-grid"> -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                      <div><label for="_assignment">Assignment Type<span class="form-mandatory-field">*</span></label>
                      </div>
                      <p-dropdown name="_assignment" [options]="TypeOptions" [(ngModel)]="AType"
                        (onClick)="onSelect('AT')">
                      </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3">
                      <div><label> Assigning Work<span class="form-mandatory-field">*</span></label></div>
                      <input class="p-col-12" type="text" pInputText [(ngModel)]="assignmentwork"
                        appInputFormat="noSpecialChars" required>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 txt-center">
                      <button pButton type="button" label="Submit" icon="pi pi-save" (click)="onSubmit()"
                        [disabled]="(!f.valid || !f.dirty)"></button>&nbsp;
                      <button pButton type="button" label="View" icon="pi pi-eye" (click)="onView()"></button>&nbsp;
                      <button pButton type="button" label="Clear" icon="pi pi-times-circle" (click)="clear()"></button>
                    </div>
                  <!-- </div>
                </div> -->
              </div>
            </p-card>
            </div>
          
        </div>
        <div *ngIf="Showtable" class="p-col-12 p-md-12 p-lg-12 txt-center">
          <p-table [columns]="cols" [value]="data" responsiveLayout="scroll" [paginator]="true" [rows]="50" [rowsPerPageOptions]="[10,20,30,50]"
           styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 70px;">S.No</th>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
                <th style="width: 100px;">
                  Download
                </th>
                <th style="width: 90px;">
                  Edit
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
              <tr>
                <td style="width: 70px;">{{rowIndex+1}}</td>
                <td *ngFor="let col of columns" [style.text-align]="col.align">
                  {{rowData[col.field]}}
                </td>
                <td style="width: 90px;" class="cursor-pointer"><i class="pi pi-download" (click)="onDownload(rowData.Assignmentfilename)"
                    style="color: #45e327; font-size: 1.3rem;"></i></td>
                    <td style="width: 100px" (click)="onEdit(rowData)" class="cursor-pointer">
                      <i class="pi pi-pencil" style="padding-left: 10px; color: #52de38; font-size: 1.5rem;"></i>
                  </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <p-confirmDialog #cd [style]="{width: '50vw'}">
          <ng-template pTemplate="header">
            <h3>Alert</h3>
          </ng-template>
          <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
          </ng-template>
        </p-confirmDialog>
      </form>
    </p-panel>
  </div>
</block-ui>