<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Assignment">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                <div class="p-grid">
                    <div class="no-pad-top"><label>Date:</label> <br>
            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-12 no-pad-left">
                        <label> Due Date:</label><br>
                            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-12" style="text-align: left; margin-top: 5px;">
                        <label> Assigned Work:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText> 
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-12" style="text-align: left; margin-top: 5px;">
                        <label> Assigned Type:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText> 
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-12" style="text-align: left; margin-top: 5px;">
                        <label> Subject Name:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText> 
                    </div>
            <div class="p-col-12 p-md-6 p-lg-12">
                <div> <label>Attachment:</label> </div>
                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" ></p-fileUpload>
             </div>
             
            <div class="p-col-12 p-md-12 p-lg-12">
            <button pButton type="button" label="Save" onclick="onSave()" style="margin-left: 10%;"></button>
            <!-- </div>
            <div class="p-col-6 p-md-6 p-lg-12"> -->
                <button pButton type="button" label="View" onclick="onView()" style="margin-left: 10%;"></button>
            </div>
       
            </div>
            </div>
        </p-card>
        </div>
    </p-panel>
</div>
   



