<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Holiday Details">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="HolidayDetailsForm">
          <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
              <div class="p-grid">
                <div class="p-col-12 p-md-4 p-lg-2">
                  <div><label for="_Holiday">Holiday Type</label></div>
                  <p-dropdown name="_Holiday" (onClick)="onSelect('HT')"[options]="HolidayOption" [(ngModel)]="Holiday" >
                  </p-dropdown>
                         </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label>Occassion/Festival/Events</label></div>
                  <input class="p-col-12" type="text" name="Events" pInputText [(ngModel)]="Events" appInputFormat="noSpecialChars" required />
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label>Date</label></div>
                  <p-calendar dateFormat="dd/mm/yy" [showOtherMonths]="false" [(ngModel)]="date" name="_date" [showIcon]="true" required></p-calendar>
                </div>
                <div class="p-col-12"></div>
                <div class="p-col-12 p-md-12 p-lg-12" style="text-align: center;">
                  <button pButton type="button" label="Submit" (click)="onSubmit()" icon="pi pi-save" [disabled]="(!f.valid || !f.dirty)"></button>&nbsp;
                  <button pButton type="button" label="View" (click)="onView()" icon="pi pi-eye"></button>&nbsp;
                  <button pButton type="button" label="Clear" (click)="clear()" icon="pi pi-times-circle"></button>
                </div>
                <div *ngIf="showTable"> 
                <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                  [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords" styleClass="p-datatable-gridlines" [loading]="loading">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 90px;">S.No</th>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                      </th>
                      <th style="width: 90px;">
                        Delete
                      </th>
                      <th style="width: 90px;">
                        Edit
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                      <td style="width: 90px;">{{rowIndex+1}}</td>
                      <td *ngFor="let col of columns" [style.text-align]="col.align">
                        {{rowData[col.field]}}
                      </td>
                      <td class="cursor-pointer">
                        <button type="button" pButton icon="pi pi-trash" (click)="delete(rowData)"></button>
                      </td>
                      <td style="width: 100px" (click)="onEdit(rowData)" class="cursor-pointer">
                        <i class="pi pi-pencil" style="padding-left: 10px; color: #52de38; font-size: 1.5rem;"></i>
                    </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              </div>
            </div>

          </p-card>
        </form>
      </div>
    </p-panel>
  </div>

</block-ui>