<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Holiday Details">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="HolidayDetailsForm">
          <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
              <div class="p-grid">
                <div class="p-col-12 p-md-4 p-lg-2">
                  <div><label for="_Holiday">Holiday Type</label></div>
                  <p-dropdown name="_Holiday" [options]="HolidayOption" [(ngModel)]="Holiday" optionLabel="label" >
                  </p-dropdown>
                         </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label>Occassion/Festival/Events:</label></div>
                  <input type="text" name="Events" size="25" pInputText [(ngModel)]="Events"  required />
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label>Date:</label></div>
                  <p-calendar [(ngModel)]="date" name="date" [showIcon]="true" required></p-calendar>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                  <button pButton name="save" type="button" label="Submit" (click)="onSubmit()" [disabled]="(!f.valid)"
                    style="margin-left: 30%;"></button>
                  <button pButton type="button" label="View" (click)="onView()" style="margin-left: 5%;"></button>
                  <button pButton type="button" label="Clear" (click)="clear()" style="margin-left: 5%;"></button>
                </div>
                <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                  [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords" pageLinks="3">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th>S.No:</th>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                      <td>{{rowIndex+1}}</td>
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

          </p-card>
        </form>
      </div>
    </p-panel>
  </div>

</block-ui>