<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
        <p-panel header="Poll List">
        <div class="p-col-12 p-md-10 p-lg-8 no-pad-top">
            <p-card>
                <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                    <span style="font-weight: bold;">Class Representative Selection for 10th 'B'</span>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-10">Sunitha Murugesan</div>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up" style="margin-right: 10px;" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-down" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div  class="p-col-10">Balamurugan Kumar</div>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up" style="margin-right: 10px;" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-down" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div  class="p-col-10">Vijay Kumar</div>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up" style="margin-right: 10px;" class="p-button-rounded p-button-success p-col-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-down" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                </div>
                <p-divider></p-divider>
            </p-card>
        </div>

        <div class="p-col-12 p-md-10 p-lg-8 no-pad-top">
            <p-card>
                <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                    <span style="font-weight: bold;">School Representative Selection </span>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-10">Jayanthi</div>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up" style="margin-right: 10px;" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-down" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div  class="p-col-10">Vivek Raja</div>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up" style="margin-right: 10px;" class="p-button-rounded p-button-success p-col-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-down" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                </div>
               
                <p-divider></p-divider>
                <div class="p-grid">
                    <div  class="p-col-10">Sivakumar</div>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up" style="margin-right: 10px;" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-thumbs-down" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                </div>
                <p-divider></p-divider>
            </p-card>
        </div>
    </p-panel>
</div>