<block-ui>
<div class="p-col-12 p-md-12 p-lg-12" >
  <p-toast position="top-center" key="t-msg"></p-toast>
  <p-panel header="Poll List">
    <div class="p-col-12 p-md-10 p-lg-8 no-pad-top">
      <p-card>
        <!-- <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                    <span style="font-weight: bold;">Class Representative Selection for 10th 'A'</span>
                </div> -->
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <div><label for="_Position">Position</label></div>
              <p-dropdown name="_Position" [options]="positionOptions" [(ngModel)]="selectedPosition"
                (onChange)= "onView()"  name="selectedPosition">
               </p-dropdown>
               </div>
            <p-divider></p-divider>
            <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
              totalRecords="totalRecords" pageLinks="3">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>S.No:</th>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th>
                    Thumbs-up
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns" class="cursor-pointer">
                <tr>
                  <td>{{rowIndex+1}}</td>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td *ngIf="!isDataAvailable">
                    <button pButton pRipple type="button"  icon="pi pi-thumbs-up" style="margin-right: 10px;" (click)="onVotinglist(rowData)"
                       class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                   </td>
                  <td *ngIf="rowData.isActive && isDataAvailable">
                   <button pButton pRipple type="button"  icon="pi pi-thumbs-up" style="margin-right: 10px;"
                      [disabled]="true" class="p-button-rounded p-button-success p-button-outlined p-col-1"></button>
                  </td>
                  <td *ngIf="!(rowData.isActive) && isDataAvailable">
                    <button pButton type="button" icon="pi pi-thumbs-up" style="margin-right: 10px; color: black;"
                       class="p-button-rounded p-button-outlined p-col-1" [disabled]="true"></button>
                   </td>
                  <td>
                  </td>
                </tr>
              </ng-template>       
            </p-table>
          </div>
        </div>
        <p-divider></p-divider>
      </p-card>
    </div>
  </p-panel>
  <p-confirmDialog #cd  [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
      <h3>Alert</h3>
  </ng-template>
  <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
  </p-confirmDialog>
</div>
</block-ui>