

<div class="p-col-12 p-md-12 p-lg-12" >
        <p-panel header="Circular">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <p-card>
                <div>
                  
 <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
  totalRecords="totalRecords" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="text-align: center; width: 70px;">S.No</th>
      <th *ngFor="let col of columns"  [style.width]="col.width">
        {{col.header}}
      </th>
      <th style="text-align: center; width: 90px;">
          Download 
      </th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns" class="cursor-pointer">
    <tr [pSelectableRow]="rowData"  >
      
    <!--<tr [pSelectableRow]="rowData"  class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">-->
      <td style="text-align: center; width: 90px;">{{rowIndex+1}}</td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td style="text-align: center; width: 90px;"><i class="pi pi-download" (click)="onDownload(rowData.Download)" 
        style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></i></td> 
    </tr>
  </ng-template>
</p-table> 
                    
                </div>
            </p-card>
        </div>
    </p-panel>
    <p-confirmDialog #cd  [style]="{width: '30vw'}">
      <ng-template pTemplate="header">
        <h3>Alert</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
    </p-confirmDialog>
</div>