<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="NEWSLETTERS">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <p-card>
        <div  class="p-col-12 p-md-12 p-lg-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-4 p-lg-6">
                    <div><label>Topic</label></div>
                    <input type="text" pInputText [(ngModel)]="Subject" />
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <button pButton name="downlod" type="button" icon="pi pi-download"
                    label="Download"></button>
                </div>
            </div>
        </div>
        </p-card>
    </div>
    </p-panel>
    </div>