<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="NEWSLETTERS">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">

        <div  class="p-col-12 p-md-12 p-lg-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-12">
                    <div><label>Subject:</label></div>
                    <input type="text" size ="25" pInputText [(ngModel)]="Subject" />
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <button pButton type="button" label="Submit" style="margin-left: 0%;"></button>
                
                    <!-- <div class="p-col-12 p-md-6 p-lg-2"> -->
                    <button pButton type="button" label="View" style= "margin-left: 6%;"></button>
                </div>

    </div>