
<form #circular="ngForm">
<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Circular">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
    <p-card>

    <div  class="p-col-12 p-md-12 p-lg-12">
        <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="no-pad-top"><label>Date:</label> </div> 
                    <p-calendar [(ngModel)]="date" [showIcon]="true" name="date"></p-calendar>
                </div>
                
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div><label>Subject:</label></div>
                        <input type="text"  pInputText [(ngModel)]="Subject" name="Subject"/>
                        <input type="hidden"  pInputText [(ngModel)]="school_id" name="school_id" value="001"/>
                        <!-- <input type="hidden"  pInputText [(ngModel)]="row_id" name="row_id" value="002"/> -->

                    </div>
                
                    
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div><label>Instructions:</label></div>
                        
                            <textarea pInputTextarea autoResize="autoResize" [(ngModel)] ="Instructions" name="Instructions"></textarea>
                        </div>

                        <!-- <div class="p-col-12 p-md-6 p-lg-3">
                            <button pButton name="upload" type="button" icon="pi pi-upload"
                            label="Upload"></button>
                        </div> -->

                        <div class="p-col-12 p-md-6 p-lg-3 align-el-center">
                            <div><label>Attach file:</label></div>
                            <input class="p-col-12" name="_guardianimg" type="file" pInputText (change)="onFileUpload($event,4)" accept=".jpg" />
                        </div>
                    
                </div>
                
    </div>

    </p-card>
    <div class="p-col-12 p-md-6 p-lg12" style = "margin-left:35%;"> 
        <button pButton type="button" label="Submit" (click)="onSave(circular)"> </button>
    <!-- </div>  -->
    <!-- <div class="p-col-12 p-md-6 p-lg-2" > -->
        <button pButton type="button" label="View" style = "margin-left:5%;"></button>
        </div>
        </div>
    </p-panel>

</div>
</form>