
<form #circular="ngForm">
<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Circular">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
    <p-card>

    <div  class="p-col-12 p-md-12 p-lg-12">
        <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="no-pad-top"><label>Date:</label> </div> 
                    <p-calendar [(ngModel)]="date" [showIcon]="true" name="date"></p-calendar>
                    <!-- <input type="hidden" [ngModel]="3" name="school_id"/>
                    <input type="hidden" name="RowId" ng-value="002"/> -->
                </div>
                
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div><label>Subject:</label></div>
                        <input type="text"  pInputText [(ngModel)]="Subject" name="Subject"/>
                    
                    </div>
                
                    
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div><label>Instructions:</label></div>
                        
                            <textarea pInputTextarea autoResize="autoResize" [(ngModel)] ="Details" name="Details"></textarea>
                        </div>

                        <!-- <div classs="p-col-12 p-md-6 p-lg-3">
                            <button pButton name="upload" type="button" icon="pi pi-upload"
                            label="Upload"></button>
                        </div> -->

                        <div class="p-col-12 p-md-6 p-lg-3 align-el-center">
                            <div><label>Attach file:</label></div>
                            <input class="p-col-12" name="_guardianimg" type="file" pInputText (change)="onFileUpload($event,4)" accept=".jpg" />
                        </div>
                    
                </div>
                
    </div>

    </p-card>
    <div class="p-col-12 p-md-6 p-lg12" style = "margin-left:35%;"> 
        <button pButton name="_save" type="button" label="Submit" (click)="onSubmit()"></button>
    <!-- </div>  -->
    <!-- <div class="p-col-12 p-md-6 p-lg-2" > -->
        <button pButton type="button" label="View" style = "margin-left:5%;" (click)="onview()"></button>
        <button pButton type="button" label="clear" style = "margin-left:5%;" (click)="onClear()"></button>
        </div>

        <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
  totalRecords="totalRecords" pageLinks="3">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <!-- <td> -->
        <!-- <button (click)="onEdit(rowData)" pButton type="button" icon="pi pi-user-edit" class="ui-button-primary" ></button> -->


      <!-- </td> -->
      <!-- <td> -->
        <!--<i class="pi pi-trash"  (click)="onDelete(rowData)"  ></i>-->
        <!-- <button (click)="onDelete(rowData)" pButton type="button" icon="pi pi-trash" class="ui-button-danger"></button> -->

      <!-- </td> -->
    </tr>
  </ng-template>
</p-table> 
        </div>
    </p-panel>

</div>
</form>