<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
    <p-panel header="NEWSLETTERS">
        <div class="p-col-12 p-md-12 p-lg-8 no-pad-top">
            <p-card>
                <div>
                    <p-table [value]="data">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 90px">S.No</th>
                                <th>Topic</th>
                                <th style="width: 140px; ">Download PDF</th>
                                <!-- <embed src = "\assets\pdf\pdf govt.pdf"> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let rowIndex=rowIndex let-data>
                            <tr>
                                <td style="width: 90px">{{data.slno}}</td>
                                <td>{{data.topic}}</td>
                                <td style="width: 140px;"><i class="pi pi-file-pdf" style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-card>
        </div>
    </p-panel>
</div>
 