<div class="p-col-12">
        <p-tabView>
            <p-tabPanel header="Result">
                <p-card>
                    <div class="p-col-12 no-pad-top" style="margin-left: -8px;">
                        <div class="p-col-12 no-pad-top"
                            style="text-align: center; background:  rgb(11, 43, 102) !important;">
                            <span style="color: whitesmoke; font-size: 17px !important;">Online Assessment Test
                                Result</span>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-5" style="padding-top: 25px; margin-left:15px;">
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Student Name</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: Arun kumar
                                        Swaminathan</div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Admission No.</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: B/12080</div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Standard/Section</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: x / B</div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Subject Name</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: Artificial
                                        Intelligence</div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Test Name</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: PRE MIDTERM
                                        EXAMINATION</div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">No.of.Questions</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: 25 </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Total Marks</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: 25 </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <span style="font-weight: bold; margin-left: 15px;">Obtained Marks</span>
                                    <div class="p-col-7" style="padding-top: 0; margin-left: 25px;">: 23 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </p-tabPanel>
        </p-tabView>
</div>