<div class="p-col-12" >
  <p-panel header="Fee Details">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-3">
            <div>
              <label>Academic Year:</label>
            </div>
            <p-dropdown [options]="yearOptions" name="_selectedyear" [(ngModel)]="selectedYear" (onClick)="onSelect()"
              optionLabel="label" (onChange)="onLoad()" required> </p-dropdown>
          </div>
          <div>
            <p-table [columns]="feeCols" styleClass="p-datatable-gridlines" [value]="feeData" [loading]="loading">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 90px;">S.No</th>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th>
                    Invoice D/w
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns"
                class="cursor-pointer">
                <tr>
                  <td>{{rowIndex+1}}</td>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td>
                    <button pButton type="button" icon="pi pi-print" style="color:#45e327;"
                     pTooltip="Show/print receipt" (click)="generateReceipt(rowData)"></button>
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </div>
<!-- feereceipt form  -->
          <p-dialog [(visible)]="showReceipt" [style]="{width: '50vw'}" [draggable]="false" [modal]="true">
            <ng-template pTemplate="header">
              <div>Fee Receipt</div>
            </ng-template>
            <div class="p-col-12" style="border: 1px solid black;">
              <div id="printdiv">
                <div class="p-col-12 no-pad" style="text-align: center;">
                  <img style="width: 80px;" src="assets/layout/images/logo.jpg" />
                </div>
                <div style="text-align: center;">
                  <span style="font-weight: bold; font-family: serif; text-transform: uppercase;">
                    {{schoolName}}
                    <br>{{schoolAddress}}</span>
                </div>
                <hr class="no-pad p-col-12" style="color: black;">
                <div class="p-col-12">
                  <div class="text-center">
                    <!-- <span>{{receiptYear}}</span> -->
                    <div style="font-weight: 900;">Receipt 2021-2022</div>
                  </div>
                  <div class="p-col-12"></div>
                  <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6">
                      <div class="p-col-12 no-pad-bottom">
                        <span style="font-weight: 600;">Receipt No. :</span>
                          <span style="padding-left: 3px;">{{receiptNo}}</span>
                      </div>
                      <div class="p-col-12 no-pad-bottom">
                        <span style="font-weight: 600;">Student Name :</span>
                        <span style="text-transform: uppercase; padding-left: 3px;">{{studentName}}</span>
                      </div>
                      <div class="p-col-12 no-pad-bottom">
                        <span style="font-weight: 600;">Class :</span>
                        <span>{{class}}</span>
                      </div>
                    </div>
                    <div class="p-col-6 p-md-6 p-lg-6">
                      <div class="p-col-12 no-pad-bottom">
                        <span style="font-weight: 600;">Admission No. :</span><span> ST2021001</span>
                        <!-- <span>{{admnNo}}</span> -->
                      </div>
                      <div class="p-col-12 no-pad-bottom">
                        <span style="font-weight: 600;">Date :</span>
                        <span>{{today}}</span>
                      </div>
                      <div class="p-col-12 no-pad-bottom">
                        <span style="font-weight: 600;">Parent Name:</span>
                        <span style="text-transform: uppercase; padding-left: 3px;">{{parentName}}</span>
                      </div>
                    </div>
                    <div>
                      <p-table styleClass="p-datatable-gridlines" [value]="receiptData">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th style="width: 53px;">S.No</th>
                            <th>Fee Particulars</th>
                            <th style="width: 3cm;">Pay Date</th>
                            <th>Total Amount<br> (in rupees)</th>
                            <th>Paid Amount<br> (in rupees)</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                          <tr>
                            <td>{{rowIndex+1}}</td>
                            <td> {{rowData.feeparticulars}}</td>
                            <td>{{rowData.paydate}}</td>
                            <td>{{rowData.totalamount}}</td>
                            <td>{{rowData.paidamount}}</td>
                            <!-- <td>Total</td> -->
                          </tr>
                        </ng-template>
                      </p-table>
                      <div style="font-size: inherit; font-weight: 700; padding-left: 328px;">
                        FEE TOTAL : Rs.{{total}}
                      </div>
                      <div class="p-col-12"></div>
                      <p style="font-size: x-small;">Note*:The receipt is given to students to acknowledge payment of
                        any fees to the school </p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="p-col-12 p-md-12 p-lg-12 text-center">
                <button printSectionId="printdiv" ngxPrint pButton type="button" label="Print"></button>
              </div>
          </p-dialog>
        </div>
    </div>
  </p-panel>
</div>