<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Books">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <p-card>
                <i>*Incase of any queries,contact school</i><br>
                <i>*Please select your preference and click on proceed</i>
                <div  class="p-col-12 p-md-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div>
                                <label>Year:</label>
                            </div>
                            <p-dropdown [options]="yearOptions"  [(ngModel)]="selectedyear"> </p-dropdown>
                        </div>
                                    
                        <div class="p-col-12 p-md-6 p-lg-1"></div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div>
                                <label>Subject/Stream Name:</label>
                            </div>
                            <input type="text"  pInputText [(ngModel)]="Subject" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-1"></div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div>
                                <label>Author/Reference:</label>
                            </div>
                            <input type="text" pInputText [(ngModel)]="Author" />
                        </div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <input class="p-col-12" name="_guardianimg" type="file" pInputText
                                (change)="onFileUpload($event, 4)" accept=".pdf" />
                        </div>

                        <!-- <div class="p-col-12 p-md-4 p-lg-2">
                            <button pButton name="upload" type="button" icon="pi pi-upload" label="Upload"></button>
                        </div> -->
                    
                        
                        <!-- <div class="p-col-12 p-md-4 p-lg-6"></div>
                        <div class="p-col-12 p-md-4 p-lg-2"></div>   -->
                        
                        
                    </div>  
                </div>
            </p-card>
            <div class="p-col-12 p-md-6 p-lg12" style = "margin-left:35%;"> 
                <button pButton type="button" label="Submit" (click)="onSubmit()" > </button>
            <!-- </div>  -->
            <!-- <div class="p-col-12 p-md-6 p-lg-2" > -->
                <button pButton type="button" label="View" style = "margin-left:5%;"></button>
                </div>
        </div>         
    </p-panel>
</div>
            
