  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Books Upload">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="bookForm">
          <p-card>
            <div style="font-style: italic; font-size: 15px; color: rgb(11, 43, 102);">
              * Upload current regulation books
            </div>
            <div style="font-style: italic; font-size: 15px; color: rgb(11, 43, 102);">
              *Both Tamil & English medium books upload is must.
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
              <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div>
                    <label>Year<span class="form-mandatory-field">*</span></label>
                  </div>
                  <p-dropdown [options]="yearOptions" name="selectedyear" [(ngModel)]="selectedyear" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label for="_ClassId">Class<span class="form-mandatory-field">*</span></label>
                  </div>
                  <p-dropdown name="_ClassId" [options]="classOptions" [(ngModel)]="ClassId" optionLabel="label"
                    name="ClassId" (onClick)="onSelect('C')" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div><label for="_Medium">Medium<span class="form-mandatory-field">*</span></label>
                  </div>
                  <p-dropdown name="_medium" [options]="mediumOptions" (onClick)="onSelect('M')" [(ngModel)]="medium"
                    required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-2">
                  <div style="text-transform: capitalize;">
                    <label for="_subject">Subject/Stream Name<span class="form-mandatory-field">*</span></label>
                  </div>
                  <input class="p-col-12" type="text" name="_subject" pInputText [(ngModel)]="Subject" appInputFormat="noSpecialChars" required />
                </div>
                <div class="p-col-12 p-md-12 p-lg-3">
                  <div style="text-transform: capitalize;">
                    <label for="_author">Author/Reference<span class="form-mandatory-field">*</span></label>
                  </div>
                  <input class="p-col-12" type="text" name="_author" pInputText [(ngModel)]="Author" appInputFormat="noSpecialChars" required />
                </div>
                <div class="p-col-12 p-md-12 p-lg-4">
                  <!-- <input class="p-col-12" name="_Uploadpdf" type="file"
                          pInputText (change)="onFileUpload($event,4)" accept=".jpg" required/> -->
                  <label>Attachment<span class="form-mandatory-field">*</span></label>
                  <input type="file" #file placeholder="Choose file" pInputText (change)="uploadFile(file.files)"
                    accept=".pdf" required />
                    <p style="font-size: small; font-style: italic;">Note*:in pdf format only</p>
                </div>
                <!-- <div class="p-col-12 p-md-6 p-lg-3">
                  <span class="upload" *ngIf="message">
                    {{message}}
                  </span>
                </div> -->
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-12" style="margin-left:30%;">
              <button pButton name="save" type="button" label="Submit" icon="pi pi-save" (click)="onSubmit()"
                [disabled]="(!f.valid)"></button>
              <button pButton type="button" label="View" (click)="onview()" icon="pi pi-eye" style="margin-left:2%;"></button>
              <button pButton type="button" label="Clear" (click)="onClear()"
              icon="pi pi-times-circle" style="margin-left: 2%;"></button>
            </div>
          </p-card>
        </form>
        <div *ngIf="showtable">
        <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
          totalRecords="totalRecords" [loading]="loading" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 1.5cm;">S.No</th>
              <th *ngFor="let col of columns" [style.width]="col.width">
                {{col.header}}
              </th>
              <th>
                Download
              </th>
            </tr>
          </ng-template>
          <!--   
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)"> -->

          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
              <td>{{rowIndex+1}}</td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>

              <td style="width: 142px;"><i class="pi pi-download" (click)="onDownload(rowData.Pdffilename)"
                  style="color: #45e327; font-size: 1.3rem;"></i></td>
            </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
    </p-panel>
    <p-confirmDialog #cd [style]="{width: '50vw'}">
      <ng-template pTemplate="header">
        <h3>Alert</h3>
      </ng-template>
      <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
      </ng-template>
    </p-confirmDialog>
  </div>