<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Books">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <p-card>
                <i>*Incase of any queries,contact school</i><br>
                <i>*Please select your preference and click on proceed</i>
                <div  class="p-col-12 p-md-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div>
                                <label>Year:</label>
                            </div>
                            <p-dropdown [options]="yearOptions"  name = "selectedyear" [(ngModel)]="selectedyear"> </p-dropdown>
                        </div>
                                    
                        <div class="p-col-12 p-md-6 p-lg-1"></div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div>
                                <label>Subject/Stream Name:</label>
                            </div>
                            <input type="text"  pInputText [(ngModel)]="Subject" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-1"></div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div>
                                <label>Author/Reference:</label>
                            </div>
                            <input type="text" pInputText [(ngModel)]="Author" />
                        </div>

                        <div class="p-col-12 p-md-6 p-lg-3">
                            <input class="p-col-12" name="_guardianimg" type="file" pInputText
                                (change)="onFileUpload($event, 4)" accept=".pdf" />
                        </div>

                        <!-- <div class="p-col-12 p-md-4 p-lg-2">
                            <button pButton name="upload" type="button" icon="pi pi-upload" label="Upload"></button>
                        </div> -->
                    
                        
                        <!-- <div class="p-col-12 p-md-4 p-lg-6"></div>
                        <div class="p-col-12 p-md-4 p-lg-2"></div>   -->
                        
                        
                    </div>  
                </div>
            </p-card>
            <div class="p-col-12 p-md-6 p-lg12" style = "margin-left:35%;"> 
                <button pButton type="button" label="Submit" (click)="onSubmit()" > </button>
            <!-- </div>  -->
            <!-- <div class="p-col-12 p-md-6 p-lg-2" > -->
                <button pButton type="button" label="View" (click)="onview()" style = "margin-left:5%;"></button>
                <button pButton type="button" label="clear" (click)="onClear()" style = "margin-left:5%;"></button> 
              </div>
  
            

    
<p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
  totalRecords="totalRecords" pageLinks="3">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
     
    </tr>
  </ng-template>
</p-table>  
    </div>         
</p-panel>
</div>



