<div *ngIf="showContainer">
    <mat-toolbar color="primary">
        <div fxFlex fxLayout="row" *ngIf="!hideHeader" style="background: rgb(11, 43, 102) !important;">
            <div fxFlex class="margin-lt align-el-center">
                <div (click)="sidenav.toggle()" >
                    <i class="pi pi-bars" style="font-size: 1.3rem;"></i>
            <img src="assets/layout/images/TN_Govt_Logo.png" class="menu-logo">

                </div>
            </div>

            <div fxFlex.gt-sm="80%" fxFlex.lt-md="65%" fxFlex.lt-lg="80%" fxFlexFill
                style="align-self: center; text-align: center !important;" fxHide.xs fxShow.md fxShow.lg>
                <div style="color: whitesmoke;font-size:21px;" [ngStyle.lt-md]="{'font-size': '18px'}">
                    &nbsp;
                    <span>Government of Tamilnadu - Educational Services Platform</span>
                </div>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="35%" fxFlex.lt-lg="20%" fxLayoutAlign="center center" fxFlexFill
                (click)="op.toggle($event)" style="color: whitesmoke;">
                <img [src]="userImage" [ngClass]="{'user-icon': showIcon}" />&nbsp;
                <span style="text-transform: uppercase"><b>{{userName}}</b>&nbsp;
                    <i class="pi pi-angle-down"></i>
                    <br />
                    <b *ngIf="(roleId == 6 || roleId == 5)">{{userClass}}</b>
                </span>
            </div>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav [mode]="mode" [(opened)]="opened">
            <p-panelMenu [model]="items" [style]="{'width':'180px', 'height': '90vh !important',
            'background': 'white'}"></p-panelMenu>
        </mat-sidenav>
        <mat-sidenav-content>
            <div #main_container style="height: 100vh;"
            [ngStyle]="{'margin-bottom': (hideHeader ? '0' : '-5%')}">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>    
</div>
<p-overlayPanel #op [showTransitionOptions]="'500ms'" [dismissable]="true" [style]="{width: '200px'}">
    <ng-template pTemplate>
        <div>Logged in - {{loggedinTime | date:'shortTime'}} </div>
        <div class="p-col-12"></div>
        <div class="p-col-12" style="margin-top: 10%;">
            <div class="text-center">
                <div class="cursor-pointer" (click)="onLogout()"> <i class="pi pi-sign-out"
                        style="color: #52de38;"></i>Logout</div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>