<div #main class="no-pad">
    <mat-toolbar class="mat-elevation-z8" *ngIf="(isLoggedIn$ | async)">
        <div class="p-col-1 no-pad-left" [ngClass]="{'move-right': isOpen}">
            <div class="no-pad" style="background: rgb(11, 43, 102) !important; display: flex;">
                <i *ngIf="!isOpen" class="pi pi-bars" style="font-size: 1.6rem; color: whitesmoke; align-self: center;"
                    (click)="isOpen=!isOpen"></i>
                <i *ngIf="isOpen" class="pi pi-times" style="font-size: 1.6rem; color: whitesmoke; align-self: center;"
                    (click)="isOpen=!isOpen"></i>
                <img src="assets/layout/images/TN_Govt_Logo.png" style="margin-left: 2px;" />
            </div>

        </div>
        <div class="p-col-10 p-md-8 p-lg-6 no-pad-top"
            [ngClass]="{'menubar-bar-text-unset': !isOpen, 'menubar-bar-text-set': isOpen}">
            Government of Tamilnadu - Educational Services Platform
            <div style="text-align: center; font-size: 20px;color: whitesmoke">Government Higher Secondary School -
                Trichy</div>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-md-6 p-lg-2 no-pad-top no-pad-bottom" [ngClass]="{'menubar-bar-info-set': isOpen}">
            <div class="p-grid" style="color: whitesmoke">
                <img src="assets/layout/images/student-icon1.png" style="width: 50px; height: 55px; margin-top: 8px;" />
                &nbsp; &nbsp; <div style="font-size: 13px; align-self: center; margin-top: 10px;"> ARUN KUMAR S <i
                        class="pi pi-angle-down"></i></div>
            </div>
        </div>
    </mat-toolbar>
    <div [ngClass]="{'layout-wrapper': isOpen}">
        <div class="p-grid side-nav">
            <div *ngIf="isOpen" class="p-col-2 no-pad-right side-nav-panel">
                <p-panelMenu [model]="items"></p-panelMenu>
            </div>
            <div class="side-nav-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>