<block-ui>
    <div class="p-col-12" >
        <p-toast position="top-center" key="t-msg"></p-toast>
        <p-panel header="Online Classroom Details">
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top" style="min-height: 400px !important;">
                <form #f="ngForm" name="classroomDetailsForm">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-12 p-lg-2"></div>
                        <div class="p-col-12 p-md-10 p-lg-8">
                            <p-card>
                                <div #row1 class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-grid">
                                        <div class="p-col-6 p-md-6 p-lg-3">
                                            <label for="_class">Class<span class="form-mandatory-field">*</span></label>
                                            <p-dropdown name="_class" [options]="classOptions" [(ngModel)]="class"
                                                (onClick)="onSelect('C')" required>
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-6 p-md-6 p-lg-2">
                                            <label for="_section">Section<span
                                                    class="form-mandatory-field">*</span></label>
                                            <p-dropdown name="_section" [options]="sectionOptions" [(ngModel)]="section"
                                                (onClick)="onSelect('S')" required>
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-6 p-md-6 p-lg-3">
                                            <label for="_subject">Subject<span
                                                    class="form-mandatory-field">*</span></label>
                                            <p-dropdown name="_subject" [options]="subjectOptions" [(ngModel)]="subject"
                                            (onClick)="onSelect('SB')" required>
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div  #calbody class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-grid">
                                        <div class="p-col-6 p-md-6 p-lg-3">
                                            <label for="_mdate">Date<span class="form-mandatory-field">*</span></label>
                                            <p-calendar [(ngModel)]="meetingDate" name="_mdate" [showIcon]="true"
                                                inputId="meetingDate" required>
                                            </p-calendar>
                                        </div>
                                        <div class="p-col-6 p-md-6 p-lg-3">
                                            <label for="_time">Time</label>
                                            <p-calendar [(ngModel)]="meetingTime" [timeOnly]="true"
                                            icon="pi pi-clock" inputId="meetingTime">
                                            <!-- hourFormat="12" -->
                                            </p-calendar>
                                        </div>
                                        <div class="p-col-6 p-md-6 p-lg-2">
                                            <label for="_duration">Duration<span
                                                    class="form-mandatory-field">*</span></label>
                                            <input class="p-col-12" name="_duration" type="text" pInputText
                                                [(ngModel)]="duration" required />
                                        </div>
                                    </div>
                                </div>
                                <div #row3 class="p-col-12 p-md-12 p-lg-12 text-center">
                                    <button pButton name="_save" type="button" label="Save" [disabled]="(!f.valid)"
                                        (click)="onSave()"></button>&nbsp;
                                        <button pButton name="_view" type="button" label="View"
                                        (click)="onView()"></button>&nbsp;
                                        <button pButton name="_clear" type="button" label="Clear"
                                        (click)="clearForm()"></button>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="showTable" class="p-col-12 p-md-12 p-lg-12">
                <p-table [columns]="classroomDetailsCols" [value]="classroomDetails" [paginator]="true"
                 [rows]="10" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 90px">S.No</th>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th style="width: 100px">Edit</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowIndex="rowIndex"  let-rowData let-columns="columns">
                        <tr>
                            <td style="width: 90px">{{rowIndex+1}}</td>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                            <td style="width: 100px" (click)="onEdit(rowData)">
                                <i class="pi pi-pencil" style="padding-left: 10px; color: #52de38; font-size: 1.5rem;"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-panel>
    </div>
</block-ui>