<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
    <p-panel header="My School">
        <div class="p-grid"> 
            <div class="p-col-12 p-md-1 p-lg-2"></div>
        <div class="p-col-12 p-md-10 p-lg-6">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Curriculum: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{curriculum}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Headmaster Name: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{headMasterName}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Email Id: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{email}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Address: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{address}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Pincode: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{pincode}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Phone Number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{phoneNo}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Landline number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{landlineNo}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom"><b>Fax Number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no0-pad-bottom">{{faxNo}} </div>
                </div>
            </p-card>
        </div>
        </div>
    </p-panel>
</div>
