<div class="p-col-12 p-md-12 p-lg-12">
    <!-- <p-panel header="My School"> -->
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-card>
                <div class="div-hdr-light text-center">
                    <span class="margin-rt"><img src="assets/layout/images/TN_Govt_Logo2x.png"></span>  
                    <span class="text-center school-text"><span>{{schoolName}}</span></span>
                </div>
                <div class="p-col-12 p-md-12 p-lg-12" style="margin-top: 1rem;">
                    <div class="p-grid">
                        <div class="p-col-2"></div>
                        <div class="p-col-10 p-md-10 p-lg-8 no-pad-top card">
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Curriculum: </b></div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{curriculum}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Headmaster Name: </b>
                                </div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{headMasterName}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Email Id: </b></div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{email}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Address: </b></div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{address}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Pincode: </b></div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{pincode}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Phone Number: </b></div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{phoneNo}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Landline number: </b>
                                </div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{landlineNo}} </div>
                            </div>
                           <hr>
                            <div class="p-grid">
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size"><b>Fax Number: </b></div>
                                <div class="p-col-6 p-md-6 p-lg-6 label-font-size">{{faxNo}} </div>
                            </div>
                        </div>
                        <div class="p-col-2 p-md-2 p-lg-2">
                            <div><img [src]="userImage" style="width: 110px; height: 110px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <!-- </p-panel> -->
</div>