<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
    <p-panel header="My School">
        <div class="p-grid"> 
            <div class="p-col-12 p-md-1 p-lg-2"></div>
        <div class="p-col-12 p-md-10 p-lg-6">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Curriculum: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{curriculum}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Headmaster Name: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{headMasterName}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Email Id: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{email}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Address: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{address}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Pincode: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{pincode}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Phone Number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{phoneNo}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Landline number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{landlineNo}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Fax Number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{faxNo}} </div>
                </div>
                <p-divider></p-divider>
            </p-card>
        </div>
        </div>
    </p-panel>
</div>
