<div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad">
        <div class="p-col-12 no-pad">
            <img src="assets\layout\images\school-lab.png" style="width: 100%; height: 320px;" />
        </div>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad">
                <p-tabView [(activeIndex)]="activeIndex">
                    <p-tabPanel header="Personal Info">
                        <p-card>
                            <div class="p-col-12 no-pad-top">
                                <div class="p-col-12 no-pad-top"
                                    style="text-align: center; background:  rgb(11, 43, 102) !important;">
                                    <span style="color: whitesmoke; font-size: 17px !important;">About Me</span>
                                </div>
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-6 p-lg-5 view-gridlines-gap">
                                        <div class="p-grid" style="margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Name: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{name}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Class: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"> {{class}}-{{section}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Date of Birth: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{dob |
                                                date:'dd/MM/yyyy'}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Gender: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{gender}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Religion: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{religion}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Caste: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{caste}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                    </div>
                                    <div class="p-col-1"></div>
                                    <div class="p-col-12 p-md-6 p-lg-5 view-gridlines-gap">
                                        <div class="p-grid" style="margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Blood Group: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{bloodGroup}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Date of Join: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{doj |
                                                date:'dd/MM/yyyy'}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Medium: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{medium}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>E-Mail Id: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{studentMail}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Contact No: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{studentContact}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Address: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{address}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="(roleId==6)" header="Parent Info">
                        <p-card>
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-6">
                                    <div class="p-col-12 no-pad-top no-pad-right" style="color: whitesmoke; background:  rgb(11, 43, 102) !important; 
                                        text-align: center; font-weight: bold;font-size: 17px !important;">Father's
                                        Info</div>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-10 view-gridlines-gap">
                                            <div class="p-grid" style="margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Name: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{fatherName}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Occupation: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{fatherOccupation}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Email Id: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{fatherEmail}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid"  style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Contact: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{fatherContact}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                    <div class="p-col-12 no-pad-top no-pad-right"
                                        style="color: whitesmoke; background:  rgb(11, 43, 102) !important;
                                        text-align: center; font-weight: bold;font-size: 17px !important;">Mother's
                                        Info</div>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-10 view-gridlines-gap">
                                            <div class="p-grid" style="margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Name: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{motherName}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Occupation: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{motherOccupation}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Email Id: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{motherEmail}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size"><b>Contact: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{motherContact}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </p-tabPanel> 
                    <p-tabPanel *ngIf="(roleId==6)" header="Guardian Info">
                        <p-card>
                            <div class="p-grid">
                                <div class="p-col-12 p-md-12 p-lg-12">
                                    <div class="p-col-12 no-pad-top no-pad-right" style="color: whitesmoke; background:  rgb(11, 43, 102) !important; 
                                        text-align: center; font-weight: bold;font-size: 17px !important;">Guardian's
                                        Info</div>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-5 view-gridlines-gap">
                                            <div class="p-grid" style="margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-3 no-pad-top no-pad-bottom label-font-size"><b>Name: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{guardianName}} </div>
                                            </div>
                                            <p-divider></p-divider>
                                            <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                                <div class="p-col-6 p-md-6 p-lg-3 no-pad-top no-pad-bottom label-font-size"><b>Occupation: </b></div>
                                                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{guardianOccupation}} </div>
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-5 view-gridlines-gap" style="margin-left: 15px;"> 
                                        <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-3 no-pad-top no-pad-bottom label-font-size"><b>Contact: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{guardianContact}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                                            <div class="p-col-6 p-md-6 p-lg-3 no-pad-top no-pad-bottom label-font-size"><b>Email Id: </b></div>
                                            <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom label-font-size">{{guardianEmailId}} </div>
                                        </div>
                                        <p-divider></p-divider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12 text-center">
                <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="onEdit()"></button>
            </div>
    </div>
</div>