<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Announcement">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="AnnouncementForm">
          <p-card>
            <div class="p-col-12 no-pad-top" style="margin-left: -8px;">
              <div #row1 class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                  <div class="p-col-12 p-md-12 p-lg-2">
                    <label for="_date">Date<span class="form-mandatory-field">*</span></label>
                    <p-calendar dateFormat="dd/mm/yy" [showOtherMonths]="false" [(ngModel)]="date" [showIcon]="true" name="_date" required></p-calendar>
                  </div>
                  <div class="p-col-12 p-md-12 p-lg-3">
                    <label for="_Topic">Title<span class="form-mandatory-field">*</span></label>
                    <!-- <input id="float-input"  type="text" size="23" pInputText>  -->
                    <input class="p-col-12" type="text" pInputText [(ngModel)]="Topic" name="_Topic"
                      appInputFormat="noSpecialChars" required />
                  </div>
                  <div class="p-col-12 p-md-12 p-lg-3">
                    <label for="_announce">Attach File<span class="form-mandatory-field">*</span></label>
                    <input class="p-col-12" type="file" #file placeholder="Choose file" pInputText
                      (change)="uploadFile(file.files)" accept=".pdf" required />
                      <p style="font-size: small; font-style: italic;">Note*:in pdf format only</p>
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-2">
                    <label for="_Announcement">Description<span class="form-mandatory-field">*</span></label>
                    <textarea pInputTextarea [(ngModel)]="Announcement" name="_Announcement" rows="2" cols="33"
                      appInputFormat="noSpecialChars" required></textarea>
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-5" style="text-align:right;">
                    <button pButton name="_save" type="button" label="Submit" icon="pi pi-save" [disabled]="(!f.valid)"
                      (click)="onSubmit()"></button>
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-7">
                    <button pButton type="button" label="View" (click)="onView()" icon="pi pi-eye"
               ></button>
                      <button pButton type="button" label="Clear" (click)="clear()" icon="pi pi-times-circle"
                      style="margin-left: 3%;"></button>
                  </div>
                  <div *ngIf="showtable"> 
                  <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [loading]="loading"
                    [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width: 1.5cm;">S.No</th>
                        <th *ngFor="let col of columns" [style.width]="col.width">
                          {{col.header}}
                        </th>
                        <th style="width: 100px;">
                          Download
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                      <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                        <td>{{rowIndex+1}}</td>
                        <td *ngFor="let col of columns">
                          {{rowData[col.field]}}
                        </td>
                        <td style="width: 142px;"><i class="pi pi-download"
                            (click)="onDownload(rowData.Announcementfilename)"
                            style="color: #45e327; font-size: 1.3rem;"></i></td>
                      </tr>
                    </ng-template>
                  </p-table>
                  </div>
                </div>
              </div>
            </div>
          </p-card>
        </form>
      </div>
    </p-panel>
    <p-confirmDialog #cd [style]="{width: '30vw'}">
      <ng-template pTemplate="header">
        <h3>Alert</h3>
      </ng-template>
      <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
      </ng-template>
    </p-confirmDialog>
  </div>
</block-ui>