<div class="p-col-12 p-md-12 p-lg-12" >
  <p-panel header="ASSIGNMENTS">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
      <p-card>
        <div>
          <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
            totalRecords="totalRecords" pageLinks="3">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>S.No</th>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
                <th>
                  Upload
                </th>
                <th>
                  Download
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
              <tr>
                <td>{{rowIndex+1}}</td>
                <td *ngFor="let col of columns"  [style.width]="col.width">
                  {{rowData[col.field]}}
                </td>
                <td style="width: 100px;">

                  <input style="display: none" type="file" (change)="uploadFile($event)" #fileInput>
                  <i class="pi pi-upload" type="file" #file (click)="fileInput.click()" accept=".pdf"
                    style="color: #52de38; font-size: 1.3rem; margin-left: 25px;">

                  </i>

                </td>
                <td style="width: 142px;"><i class="pi pi-download" (click)="onDownload(rowData.Assignmentfilename)"
                    style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </p-panel>
  <p-confirmDialog #cd  [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
      <h3>Alert</h3>
  </ng-template>
  <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
  </p-confirmDialog>
</div>