<div #main class="p-col-12 p-md-12 p-lg-12">
        <div class="p-col-12">
            {{greetingMsg}} <br>
            <span style="font-weight:600;"> ARUN KUMAR SWAMINATHAN</span>
        </div>
        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="overview-box sales-1">
                        <div class="p-col-12"></div>
                        <div class="p-grid">
                            <div class="p-col-6 overview-title" style="text-align: center;">ANNOUNCEMENT</div>
                            <div class="p-col-3"></div>
                            <div class="p-col-2 no-pad-left">
                                <img src="assets/layout/images/mic.png" class="image-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="overview-box sales-2">
                        <div class="p-col-12"></div>
                        <div class="p-grid">
                            <div class="p-col-6 overview-title" style="text-align: center;">ASSIGNMENT</div>
                            <div class="p-col-3"></div>
                            <div class="p-col-2 no-pad-left">
                                <img src="assets/layout/images/checklist.png" class="image-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="overview-box sales-3">
                        <div class="p-col-12"></div>
                        <div class="p-grid">
                            <div class="p-col-6 overview-title" style="text-align: center;">ATTENDANCE</div>
                            <div class="p-col-3"></div>
                            <div class="p-col-2 no-pad-left">
                                <img src="assets/layout/images/calendar.png" class="image-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="overview-box sales-4">
                        <div class="p-col-12"></div>
                        <div class="p-grid">
                            <div class="p-col-6 overview-title" style="text-align: center;">NEWSLETTER</div>
                            <div class="p-col-3"></div>
                            <div class="p-col-2 no-pad-left">
                                <img src="assets/layout/images/email.png" class="image-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>