<div #main class="p-col-12 p-md-12 p-lg-12">
    <div class="p-col-12">
        {{greetingMsg}} <br>
        <span style="font-weight:600; text-transform: uppercase;"> {{userName}}</span>
    </div>
    <div #div1 class="p-col-12">
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/online-classroom']">
                <div class="overview-box sales-1">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">ONLINE CLASSROOM</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/classroom.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/online-assessment']">
                <div class="overview-box sales-2">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">ONLINE ASSIGNMENT</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/checklist.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/attendance']">
                <div class="overview-box sales-3">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">ATTENDANCE</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/calendar.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/books']">
                <div class="overview-box sales-4">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">BOOKS</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/open-book.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #div2 class="p-col-12">
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/announcements']">
                <div class="overview-box sales-5">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">ANNOUNCEMENT</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/mic.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/newsletters']">
                <div class="overview-box sales-6">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">NEWSLETTER</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/email.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/subject-result']">
                <div class="overview-box sales-7">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">RESULT</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/result.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 cursor-pointer" [routerLink]="['/gallery-list']">
                <div class="overview-box sales-8">
                    <div class="p-col-12"></div>
                    <div class="p-grid">
                        <div class="p-col-6 overview-title" style="text-align: center;">GALLERY</div>
                        <div class="p-col-3"></div>
                        <div class="p-col-2 no-pad-left">
                            <img src="assets/layout/images/image-gallery.png" class="image-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>