<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Nominee">
      <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <form #f="ngForm" name="NomineeForm" >
          <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
              <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label>Date</label></div>
                  <p-calendar [(ngModel)]="date" [showIcon]="true" name="date" required></p-calendar>
                </div>
                <div class="p-col-12 p-md-12 p-lg-3">
                  <div><label for="_position">Election Name</label></div>
                  <p-dropdown [options]="positionOptions" (onClick)="onSelect('EN')" [(ngModel)]="position" 
                    name="_position" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                  <div><label for="_class">Class</label></div>
                  <p-dropdown name="_class" [options]="classOptions" [(ngModel)]="class" optionLabel="label"
                    (onClick)="onSelect('C')" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-3">
                  <div><label for="_section"> Section</label> </div>
                  <p-dropdown name="_section" [options]="sectionOptions" [(ngModel)]="section" optionLabel="label"
                    (onClick)="onSelect('S')" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-12 p-lg-3">
                  <div><label for="_sname"> Name</label> </div>
                  <p-dropdown name="_sname" [options]="nameOptions" (click)="onSelect2()" optionLabel="label"
                    [(ngModel)]="sname" name="label"  required>
                  </p-dropdown>
                </div>
                
                <div class="p-col-12 p-md-12 p-lg-12 text-center">
                  <button pButton name="save" type="button" label="Submit" [disabled]="(!f.valid)" (click)="onSubmit()"
                    ></button>&nbsp;
                  <button pButton type="button" label="View" (click)="onView()"></button>&nbsp;
                  <button pButton type="button" label="Clear" (click)="clear()"></button>
                </div>
                <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                  [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords" styleClass="p-datatable-gridlines" [loading]="loading">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 100px;">S.No</th>
                      <th *ngFor="let col of columns" styleClass="p-datatable-gridlines">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                      <td>{{rowIndex+1}}</td>
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-card>
        </form>
      </div>

    </p-panel>

  </div>
</block-ui>