<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px;">
    <p-panel header="ID Card Info">
        <!-- <div class="p-col-12 p-md-10 p-lg-6"> -->
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                    <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-2"></div>
                    <div class="p-col-12 p-md-10 p-lg-6">
            <p-card>
                <div style="text-align: center;">
                    <div> <img [src]="userImage" style="width: 120px; height: 120px;" /></div>
                    <div style="font-weight: bold;">{{name}}</div>
                    <div>{{class}}-{{section}}</div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid"style="padding-top: 25px; margin-left:15px;">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Roll Number: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom">{{rollNo}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Date of Birth: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom">{{dob | date:'dd/MM/yyyy'}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Blood Group: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom">{{bloodGroup}}</div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Date of Join: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom">{{doj | date:'dd/MM/yyyy'}} </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Father's Contact: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{fatherContact}}</div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Mother's Contact: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom">{{motherContact}}</div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Guardian(if any): </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom">{{guardian}}</div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid" style="margin-top: -0.5rem !important; margin-bottom: -0.5rem !important;">
                <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"><b>Address: </b></div>
                        <div class="p-col-6 p-md-6 p-lg-6 no-pad-top no-pad-bottom"> {{address}}</div>
                </div>
                <p-divider></p-divider>
                <div class="p-col-12 p-md-12 p-lg-12 no-pad-top no-pad-bottom text-center">
                    <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="onEdit()"></button>
                </div>
            </p-card>
        </div>
            </div>
            </div>
        </p-panel>
        </div>