<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Fee">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
        <p-card>
            <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="no-pad-top"><label>Due Date:</label> <br>
                 <p-calendar [(ngModel)]="dueDate" [showIcon]="true" name="dueDate"></p-calendar>
                    </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Receipt Book:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="receiptbook" name="receiptbook">  
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Fee Name:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="feename" name="feename">  
                    </div>  
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Actual Amount:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="actualamount" name="actualamount">  
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Paid Amount:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="paidamount" name="paidamount">  
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Outstanding Amount:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="outstanding" name="outstanding">  
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Paying Amount:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="paying" name="paying">  
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-3" style="text-align: left; margin-top: 5px;">
                        <label> Fine:</label><br>
                        <input id="float-input"  type="text" size="24" pInputText [(ngModel)]="fine" name="fine">  
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <button pButton name="_save" type="button" label="Submit" (click)="onSubmit()" style="margin-left: 45%;"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    </p-panel>
</div>

                    
