<block-ui>
  <div class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Fee">
      <form #f="ngForm" name="FeeForm">
        <div class="p-grid">
          <div class="p-col-12 p-md-12 p-lg-12">
            <p-card>
              <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_date"> Date</label><span class="form-mandatory-field">*</span> </div>
                  <p-calendar dateFormat="dd/mm/yy" [showOtherMonths]="false" [(ngModel)]="dueDate"
                  class="p-col-12 p-md-10 p-lg-12 no-pad-left" [maxDate]="maxDate" [showIcon]="true" name="_date" required></p-calendar>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_year"> Year</label><span class="form-mandatory-field">*</span> </div>
                  <p-dropdown [options]="yearOptions" class="p-col-12 p-md-10 p-lg-12 no-pad-left" name="_year" (onClick)="onSelect('Y')" [(ngModel)]="selectedYear" 
                  optionLabel="label" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_class">Class<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_class" class="p-col-12 p-md-10 p-lg-12 no-pad-left" [options]="classOptions" [(ngModel)]="class" optionLabel="label"
                    (onClick)="onSelect('C')" (onChange)="loadStudents()" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div><label for="_section">Section<span class="form-mandatory-field">*</span></label></div>
                  <p-dropdown name="_section" class="p-col-12 p-md-10 p-lg-12 no-pad-left" [options]="sectionOptions" [(ngModel)]="section" optionLabel="label"
                    (onClick)="onSelect('S')" (onChange)="loadStudents()" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div> <label for="_studentname">Student Name</label><span class="form-mandatory-field">*</span></div>
                  <p-dropdown [options]="studentOptions" class="p-col-12 p-md-10 p-lg-12 no-pad-left" [(ngModel)]="student" name="_studentname"
                    (onClick)="onSelect('SN')" optionLabel="label" required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div> <label for="_receiptbook"> Receipt Book</label><span class="form-mandatory-field">*</span></div>
                  <p-dropdown [options]="receiptOptions" class="p-col-12 p-md-10 p-lg-12 no-pad-left" [(ngModel)]="receiptBook" name="_receiptbook"
                    (onClick)="onSelect('FT')"  required>
                  </p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2">
                  <div> <label for="_feename"> Fee Name</label><span class="form-mandatory-field">*</span></div>
                  <input class="p-col-12 p-md-10 p-lg-12 no-pad-left" type="text"  name="_feename"  pInputText [(ngModel)]="feename" required />
                </div>
                <!-- <div #row1 class="p-col-12 p-md-12 p-lg-12"> -->
                  <!-- <div class="p-grid"> -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                      <div> <label for="_actualamount"> Actual Amount</label><span class="form-mandatory-field">*</span>
                      </div>
                      <input class="p-col-12 p-md-10 p-lg-12 no-pad-left" type="text"  name="_actualamount" pInputText [(ngModel)]="actualamount"
                        required>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-2">
                      <div> <label for="_paidamount"> Paid Amount</label><span class="form-mandatory-field">*</span>
                      </div>
                      <input class="p-col-12 p-md-10 p-lg-12 no-pad-left" type="text"  name="_paidamount" pInputText [(ngModel)]="paidamount"
                        required>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-2">
                      <div> <label for="_outstandingamount">Outstanding Amount</label><span
                          class="form-mandatory-field">*</span></div>
                      <input class="p-col-12 p-md-10 p-lg-12 no-pad-left" type="text"  name="_outstandingamount" pInputText [(ngModel)]="outstanding"
                        required>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-2">
                      <div> <label for="_payamount">Paying Amount</label><span class="form-mandatory-field">*</span>
                      </div>
                      <input class="p-col-12 p-md-10 p-lg-12 no-pad-left" type="text"  name="_payamount" pInputText [(ngModel)]="paying" required>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-2">
                      <div> <label for="_fine">Fine Amount</label><span class="form-mandatory-field">*</span></div>
                      <input class="p-col-12 p-md-10 p-lg-12 no-pad-left" type="text"  name="_fine" pInputText [(ngModel)]="fine" appInputFormat="digitOnly" required>
                    </div>
                  <!-- </div> -->
                <!-- </div> -->
                <div class="p-col-12 p-md-12 p-lg-12 txt-center">
                  <button pButton type="button" label="Submit" (click)="onSubmit()" [disabled]="(!f.valid || !f.dirty)"></button>&nbsp;
                  <button pButton type="button" label="View" (click)="onView()"></button>&nbsp;
                  <button pButton type="button" label="Pay" [disabled]="true"></button>
                  <!-- <button pButton type="button" label="Clear" (click)="clear()" style="margin-left: 5%;"></button> -->
                </div>
                <div *ngIf="showtable" class="p-col-12 p-md-12 p-lg-12 txt-center"> 
                <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                  [rowsPerPageOptions]="[5,10,15,20]" responsiveLayout="scroll" totalRecords="totalRecords" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th>
                        S.No:
                      </th>
                      <th *ngFor="let col of columns" styleClass="p-datatable-gridlines">
                        {{col.header}}
                      </th>
                      <th style="width: 90px;">Edit</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                      <td>{{rowIndex+1}}</td>
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                      <td style="width: 100px" (click)="onEdit(rowData)" class="cursor-pointer">
                        <i class="pi pi-pencil" style="padding-left: 10px; color: #52de38; font-size: 1.5rem;"></i>
                    </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              </div>
            </p-card>
            </div>
          </div>
       
      </form>
    </p-panel>
    </div>
</block-ui>

<!-- feereceipt  -->
<p-dialog [(visible)]="showReceipt" [style]="{width: '50vw'}" [modal]="true" [maximizable]="true"
(onHide)="onClose()">
  <ng-template pTemplate="header">
    <div>Fee Receipt</div>
  </ng-template>
  <div class="p-col-12" style="border: 1px solid black;">
    <div id="printdiv">
      <div class="p-col-12 no-pad" style="text-align: center;">
        <img style="width: 80px;" src="assets/layout/images/logo.jpg" />
      </div>
      <div style="text-align: center;">
        <span style="font-weight: bold; font-family: serif; text-transform: uppercase;">
          {{schoolName}}
          <br>{{schoolAddress}}</span>
      </div>
      <hr class="no-pad p-col-12" style="color: black;">
      <div class="p-col-12">
        <div class="text-center">
          <div style="font-weight: 900;">{{receiptYear}}</div>
        </div>
        <div class="p-col-12"></div>
        <div class="p-grid">
          <div class="p-col-6 p-md-6 p-lg-6">
            <div class="p-col-12 no-pad-bottom">
              <span style="font-weight: 600;">Receipt No. :</span>
              <span style="padding-left: 3px;">{{receiptNo}}</span>
            </div>
            <div class="p-col-12 no-pad-bottom">
              <span style="font-weight: 600;">Student Name :</span>
              <span style="text-transform: uppercase; padding-left: 3px;">{{studentName}}</span>
            </div>
            <div class="p-col-12 no-pad-bottom">
              <span style="font-weight: 600;">Class :</span>
              <span>{{classSection}}</span>
            </div>
          </div>
          <div class="p-col-6 p-md-6 p-lg-6">
            <div class="p-col-12 no-pad-bottom">
              <span style="font-weight: 600;">Admission No. :</span><span> ST2021001</span>
              <span>{{admnNo}}</span>
            </div>
            <div class="p-col-12 no-pad-bottom">
              <span style="font-weight: 600;">Date :</span>
              <span>{{today}}</span>
            </div>
            <!-- <div>
                <span  style="font-weight: 600;">Class:</span>
                <span>{{parentname}}:</span>
              </div> -->
          </div>
        </div>
        <div>
          <p-table styleClass="p-datatable-gridlines" [value]="receiptData">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 53px;">S.No</th>
                <th>Fee Particulars</th>
                <th>Total Amount<br> (in rupees)</th>
                <th>Paid Amount<br> (in rupees)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
              <tr>
                <td>{{rowIndex+1}}</td>
                <td> {{rowData.feeparticulars}}</td>
                <td>{{rowData.totalamount}}</td>
                <td>{{rowData.paidamount}}</td>
                <!-- <td>Total</td> -->
              </tr>
            </ng-template>
          </p-table>
          <div style="font-size: inherit; font-weight: 700; padding-left: 328px;">
            FEE TOTAL : Rs.{{total}}
          </div>
          <div class="p-col-12"></div>
          <p style="font-size: x-small;">Note*:The receipt is given to students to acknowledge payment of any fees to
            the school </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-12 p-lg-12 text-center">
    <button printSectionId="printdiv" ngxPrint pButton type="button" label="Print"></button>
  </div>
</p-dialog>