<div class="p-col-12 p-md-12 p-lg-12" >
  <p-panel header="Fee">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
      <p-card>
        <div class="p-col-12 p-md-6 p-lg-2 no-pad-top">
          <div class="no-pad-top"><label>To Academic:</label>
            <p-dropdown [options]="year"></p-dropdown>
          </div>
          <!-- <div class="p-col-12 p-md-6 p-lg-3">
                    <button pButton type="button" label="Online Payment" style="margin-right: 40%;"></button>
                </div> -->
        </div>
        <p-divider></p-divider>
        <div>
          <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
            totalRecords="totalRecords" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header"  let-columns>
              <tr>
                <th>S.No</th>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
                <th>
                  Download
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
              <tr>
                <td>{{rowIndex+1}}</td>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
                <td style="width: 142px;"><button pButton type="button" icon="pi pi-file-o" pTooltip="View receipt" (click)="onDownload()"
                    style="color: #52de38; font-size: 1.3rem; margin-left: 25px;"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </p-panel>
  <p-confirmDialog #cd  [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
      <h3>Alert</h3>
  </ng-template>
  <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
  </p-confirmDialog>
</div>