body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
    /* position: relative; */
    background: #eaf0f5;
    overflow-x: hidden;
    overflow-y: auto !important;
  }
html, body { height: 650px !important; }

body { margin: 0 !important}

/* common styles #Region 1*/
.cursor-pointer {
    cursor: pointer !important;
  }
/* text alignment #Region 1.1 */
.text-center {
      text-align: center !important;
  }
.text-left {
    text-align: left !important;
  }
.text-right {
    text-align: right !important;
  }
.text-end {
    text-align: end !important;
  }
/* end #Region 1.1 */

.align-el-center {
    align-self: center !important;
  }
.font-normal {
    font-weight: normal !important;
    font-size: 18px !important;
  }
.card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
    border-radius: 3px !important;
  }

/* padding removing styles #Region 1.2 */
.no-pad-top {
    padding-top: 0px !important;
}
.no-pad-left {
    padding-left: 0px !important;
}
.no-pad-right {
    padding-right: 0px !important;
}
.no-pad {
    padding: 0 !important;
}
.no-pad-bottom {
    padding-bottom: 0 !important;
}
/* #Region 1.2 */
.note {
    font-size: 12px !important;
}
/* .card {
    box-shadow: 0px 6px 7px 2px rgb(33 33 33 / 20%);
} */
.form-mandatory-field {
    color: rgb(247, 9, 56);
}
.div-header-bg {
    background: #d3e0ec !important;
    height: 40px;
    color: #495057 !important;
    font-weight: bold;
}
.border-line-blue {
    border: solid 1px rgb(11, 43, 102) !important;
}

/* button styles #Region 1.3 */
#btn-sm {
   padding: 0.2rem 0.4rem 0.2rem 0.4rem !important;
}
.btn-small {
   padding: 0.2rem 0.4rem 0.2rem 0.4rem !important;
}
.btn-margin {
    margin: 5px !important;
}
/* end #Region 1.3 */

/* input line #Region 1.4*/
.input-txt {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important
}
.input-txt:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
    border-color: #ced4da!important;
}
/* end #Region 1.4*/
/* end #Region 1 */

/* dashboard #Region 2*/

body .layout-wrapper .layout-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 60px;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}
body .layout-wrapper .layout-main .layout-content {
    padding: 21px;
    flex: 1 1 0;
}
.overview-box.sales-1 {
    /* background-color: #F39611;
    background-image: linear-gradient(to right, #F39611, #EE4F10); */
    background-color: #e2b4f5;
    background-image: linear-gradient(to right, #e44a83, #5e0c6d);
}
.overview-box.sales-2 {
background-color: #b8baf3;
    background-image: linear-gradient(to right, #709ef1, #0d216d);
}
.overview-box.sales-3 {
    background-color: #adf7af;
    background-image: linear-gradient(to right, #61d063, #1e7120);
}
.overview-box.sales-4 {
    background-color: #f7d6ad;
    background-image: linear-gradient(to right, #f7d949, #ef8e3b);
}
.overview-box {
    padding-top: 18px;
    color: #ffffff;
    /* -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%); */
    /* -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); */
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
}
.overview-box .overview-numbers {
    margin-left: 12px;
    margin-bottom: 20px;
    font-size: 20px;
}
/* end #Region 2*/

/* customed sidenav panel #Regioin 3 */
.move-right {
 margin-left: 16% !important;
 transition-duration: 1s;
}
.menubar-bar-text-unset {
    text-align: end !important; font-size: 25px !important; margin-left: 10% !important;
}
.menubar-bar-text-set {
    text-align: end !important; font-size: 25px !important; margin-left: 0% !important;
}
.menubar-bar-info-set {
    margin-left: -4% !important;
}
.side-nav-panel {
    width: 16% !important;
    position: fixed !important;
    overflow-y: auto !important;
    height: 100% !important;
    z-index: 999 !important;
    display: flex;
    top: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    transition-delay: 1s !important;
    transition-duration: 3s !important;
}
.side-nav {
    width: 100% !important;
}
.side-nav-container {
    width: 100% !important;
}
.layout-wrapper {
    margin-left: 16%; display: flex;
}

/* end #Regioin 3*/

/* prime ng styles customed #Region 4*/

.p-panel .p-panel-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: rgb(11, 43, 102) !important;
    color: whitesmoke !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-panel .p-panel-content {
    padding: 0.5rem !important;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
}
.p-card .p-card-body {
    padding: 0rem 0.5rem 0.5rem 0.5rem !important;
}

td[_ngcontent-fng-c4] {
    border-radius: 32px;
    font-size: 21px !important;
    font-family: Arial,Helvetica,sans-serif;
}
.p-datepicker {
    padding: 0 !important;
    background: #ffffff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 3px;
}
.p-datepicker .p-datepicker-header {
    padding: 0.5rem;
    color: #495057;
    background: #e3f2fd;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border-bottom: 1px solid #0f509a !important;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057;
    background: #d3e0ec !important;
    transition: box-shadow 0.2s;
}
.p-tabview .p-tabview-panels {
    background: #ffffff;
    padding: 0 !important;
    border: 0 none;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffffff !important;
}
.p-checkbox .p-checkbox-box {
    border: 2px solid #ced4da;
    background: #ffffff;
    width: 18px;
    height: 18px;
    color: #495057;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-dropdown {
    cursor: pointer;
    display: flex!important;
    position: relative;
}
.p-dialog.p-dialog-header {
    border-bottom: 0none;
    background: #d3e0ec!important;
    color: #495057;
    padding: 0.3rem!important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
}
     
.p-dialog.p-dialog-header.p-dialog-title {
    font-weight: normal!important;
    font-size: 1.2rem!important;
    margin-left: 15px!important;
}
.p-panelmenu .p-panelmenu-header>a:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0 #ffffff !important;
}
.p-panelmenu .p-panelmenu-header-link:focus {
        z-index: 1;
}
.p-panelmenu .p-panelmenu-header>a {
        padding: 1rem;
        border: none !important;
        color: rgb(250, 250, 250)!important;
        background: rgb(11, 43, 102) !important;
        font-weight: 600;
        border-radius: 3px;
        transition: box-shadow .2s;
}
.p-panelmenu .p-panelmenu-header>a .p-menuitem-icon, .p-panelmenu .p-panelmenu-header>a .p-panelmenu-icon {
        margin-right: .5rem;
        color: #52de38 !important;
        /* float: right !important; */
}
.p-panelmenu .p-panelmenu-content {
        padding: .25rem 0;
        border: none !important;
        background: rgb(11, 43, 102) !important;
        color: rgb(250, 250, 250)!important;
        margin-bottom: 0;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
        background: rgb(11, 43, 102) !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon, .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
        color: #52de38 !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        color: rgb(250, 250, 250)!important;
}
.p-panelmenu .p-panelmenu-header>a .p-panelmenu-icon {
        float: right !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
        color: #52de38 !important;
        margin-right: .5rem;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
        color: rgb(250, 250, 250)!important;
}
.p-button {
        color: #fff;
        background: #2196f3;
        border: 1px solid #2196f3;
        padding: .35rem 1rem !important;
        font-size: 1rem;
        transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
        border-radius: 3px;
}
.p-fieldset .p-fieldset-legend {
    padding: 1rem;
    background: #d3e0ec !important; 
    /* e3f2fd */
    font-weight: 600;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 0.5rem !important;
    color: #495057;
    border-radius: 3px;
    transition: box-shadow .2s;
}

/* end #Region 4 */

/* customised angular material style #Region 5 */

mat-toolbar {
    background: rgb(11, 43, 102) !important;
    color: whitesmoke;
}

/* end  #Region 5*/

/* .layout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: url(../../../layout/images/effect-ondark.png);
    background-repeat: no-repeat;
}
.layout-wrapper.layout-sidebar .layout-main {
    margin-left: 92px;
}
.layout-wrapper .layout-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100vh;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}
.layout-wrapper .layout-main .layout-main-content {
    flex: 1 1 0;
    padding: 30px;
} */
/* .layout-wrapper {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.2s;
} */