@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    /* font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important; */
    /* position: relative; */
    font-family: 'Poppins !important';
    background: #eaf0f5;
    height: 100% !important;
    overflow-x: hidden;
    overflow-y: auto !important;
  }

  /* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
html, body { width: 100% !important; height: 100% !important; }
body { margin: 0 !important}

/* common styles #Region 1*/
.cursor-pointer {
    cursor: pointer !important;
  }
.container {
    width: 100% !important;
    height: 100% !important;
}
  .pic-right {
    text-align: end;  
}
 .txt-color {
   color: #495057 !important;
 }
.img-edit {
    /* padding: 0.5rem 0.5rem 0.5rem 0.5rem !important; */
    /* border-radius: 100%; */
    border: 0.5px !important ;
    width: 15px!important;
    height: 25px !important;
    
}

.edit-size {
    font-size: 0.9rem !important;
    position: absolute; 
    right: 0;
    left: 0;
}

.user-icon {
    border-radius: 90% !important;
    height: 62px;
    width: 62px;
}
/* text alignment #Region 1.1 */
.text-center {
      text-align: center !important;
  }
.text-left {
    text-align: left !important;
  }
.text-right {
    text-align: right !important;
  }
.text-end {
    text-align: end !important;
  }
/* end #Region 1.1 */

.align-el-center {
    align-self: center !important;
  }
.font-normal {
    font-weight: normal !important;
    font-size: 18px !important;
  }
.card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
    border-radius: 3px !important;
  }
.label-font-size {
    font-size: 14px !important;
}
/* padding removing styles #Region 1.2 */
.no-pad-top {
    padding-top: 0px !important;
}
.no-pad-left {
    padding-left: 0px !important;
}
.no-pad-right {
    padding-right: 0px !important;
}
.no-pad {
    padding: 0 !important;
}
.no-pad-bottom {
    padding-bottom: 0 !important;
}
.margin-lt {
    margin-left: 5px !important;
}
.margin-rt {
    margin-right: 5px !important;
}
label {
    font-size: 14px !important;
}
hr {
    margin: 0.1rem 0 0.2rem 0 !important;
}
.view-gridlines-gap {
    padding-top: 25px !important;
    margin-left: 15px !important;
}
.school-text {
    text-align: center !important;
    align-self: center;
    color: #0b2b66 !important;
    font-weight: 500;
    text-shadow: 1px 1px 2px #0e3989;
    font-size: 20px;
}
.full-screen {
    height: 100% !important;
    width: 100% !important;
}
.login-bg {
    height: 100% !important;
    width: 100% !important;
 background: linear-gradient(to bottom,  #112b52 0%, #0b2b66 50%, #124c7d 100%);
}
/* #Region 1.2 */
.note {
    font-size: 12px !important;
}
/* .card {
    box-shadow: 0px 6px 7px 2px rgb(33 33 33 / 20%);
} */
.form-mandatory-field {
    color: rgb(247, 9, 56);
}
.div-header-bg {
    background: #d3e0ec !important;
    height: 40px;
    color: #495057 !important;
    font-weight: bold;
}
.div-hdr-light {
    background: #aac8e3 !important;
}
.border-line-blue {
    border: solid 1px rgb(11, 43, 102) !important;
}
.txt-clr {
    color: rgb(11, 43, 102) !important;
}

/* button styles #Region 1.3 */
#btn-sm {
   padding: 0.2rem 0.4rem 0.2rem 0.4rem !important;
}
.btn-small {
   padding: 0.2rem 0.4rem 0.2rem 0.4rem !important;
}
.btn-margin {
    margin: 5px !important;
}
/* end #Region 1.3 */

/* input line #Region 1.4*/
.input-txt {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important
}
.input-txt:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
    border-color: #ced4da!important;
}
/* end #Region 1.4*/
/* end #Region 1 */

/* dashboard #Region 2*/

body .layout-wrapper .layout-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 60px;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}
body .layout-wrapper .layout-main .layout-content {
    padding: 21px;
    flex: 1 1 0;
}
.overview-box.sales-1 {
    /* background-color: #F39611;
    background-image: linear-gradient(to right, #F39611, #EE4F10); */
    background-color: #e2b4f5;
    background-image: linear-gradient(to right, #e44a83, #5e0c6d);
}
.overview-box.sales-2 {
background-color: #b8baf3;
    background-image: linear-gradient(to right, #709ef1, #0d216d);
}
.overview-box.sales-3 {
    background-color: #adf7af;
    background-image: linear-gradient(to right, #61d063, #1e7120);
}
.overview-box.sales-4 {
    background-color: #f7d6ad;
    background-image: linear-gradient(to right, #f7d949, #ef8e3b);
}
.overview-box.sales-5 {
    background-color: #f1aea8;
    background-image: linear-gradient(to right,#d5665b,#910d09);
}
.overview-box.sales-6 {
    background-color: #a5f7f5;
    background-image: linear-gradient(to right, #33bbb8, #0b4c4b);
}
.overview-box.sales-7 {
    background-color: #feffa9;
    background-image: linear-gradient(to right, #efdb10,#ffa701);
}
.overview-box.sales-8 {
    background-color: #f7c1d5;
    background-image: linear-gradient(to right,#f94d8e,#cb0537);
}
.overview-box {
    padding-top: 18px;
    color: #ffffff;
    /* -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%); */
    /* -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); */
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
}
.overview-box .overview-numbers {
    margin-left: 12px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* login */
.lg-tabs div.lg-tab:hover {
    /* background: #24af24; */
    color: #5587f3;
    font-size: 17px !important;
}
.tab-main .p-tabview .p-tabview-nav {
    padding-left: 8rem !important;
}
/* end #Region 2*/

/* customed sidenav panel #Regioin 3 */
.move-right {
 margin-left: 16% !important;
 transition-duration: 1s;
}
.move-left {
    margin-left: 0 !important;
    transition-duration: 0.7s;
}
.menubar-bar-text-unset {
    text-align: end !important; font-size: 25px !important; margin-left: 5% !important;
}
.menubar-bar-text-set {
    text-align: end !important; font-size: 25px !important; margin-left: 0% !important;
}

.menubar-bar-info-set {
    margin-left: -25% !important;
    /* margin-left: -4% !important; */
}
.menubar-bar-info-unset {
    float: right !important;
}
.nav-container {
    margin-bottom: 3.5rem !important;
    overflow: auto;
}
.nav-pane {
    margin-bottom: 5rem !important;
    overflow: auto;
}
.side-nav-panel {
    width: 16% !important;
    position: fixed !important;
    overflow-y: auto !important;
    height: 100% !important;
    z-index: 999 !important;
    display: flex;
    top: 4rem !important;
    left: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    /* background: rgb(11, 43, 102) !important; */
    background: white !important;
    transition-duration: 1s ease-in-out;
    box-shadow: 5px 10px 8px #888888;
}
.side-nav {
    width: 100% !important;
    margin: 0 !important;
    height: 100% !important;
    transition-duration: 1s ease-in-out;
}

.layout-wrapper-set {
    margin-left: 15% !important; display: flex;
    /* transition-duration: 1s !important; */
}
.layout-wrapper-unset {
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    transition-duration: 0.7s;
}
.layout-wrapper-initial {
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.layout-wrapper-main {
    margin-left: 15%; display: flex;
    transition-duration: 0s;
}
.container-pages-mobile {
    position: fixed !important;
    top: 6rem !important;
    transition: none !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
}
.container-login {
    padding-top: 0rem;
    transition: none !important;
    width: 100% !important;
    height: 100% !important;
    background: linear-gradient(to bottom,  #112b52 0%, #0b2b66 50%, #124c7d 100%);
}
.container-pages-open {
    top: 4rem;
    transition: none !important;
    width: 83% !important;
    height: 100% !important;
    position: absolute !important;
    overflow: auto !important;
}
.container-pages-close {
    top: 4rem;
    transition: none !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    overflow: auto !important;
    padding: 0 10px 0 10px !important;
}

/* end #Regioin 3*/

/* prime ng styles customed #Region 4*/

.p-component {
    font-size: 15px !important;
}
.p-panel .p-panel-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: rgb(11, 43, 102) !important;
    color: whitesmoke !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-panel .p-panel-content {
    padding: 0.5rem !important;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
}
.p-card .p-card-body {
    padding: 0rem 0.5rem 0 0.5rem !important;
}

td[_ngcontent-fng-c4] {
    border-radius: 32px;
    font-size: 21px !important;
    font-family: Arial,Helvetica,sans-serif;
}
.p-datepicker {
    padding: 0 !important;
    background: #ffffff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 3px;
}
.p-datepicker .p-datepicker-header {
    padding: 0.5rem;
    color: #495057;
    background: #e3f2fd;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border-bottom: 1px solid #0f509a !important;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057;
    background: #d3e0ec !important;
    transition: box-shadow 0.2s;
}
.p-tabview .p-tabview-panels {
    background: #ffffff;
    padding: 0 !important;
    border: 0 none;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffffff !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #fff;
    border-color: #68e05e !important;
    color: #52de38 !important;
}
.p-icon {
    color: #52de38;
     font-size: 1.5rem;
      padding-left: 33px;
      width: 142px;
}
.p-checkbox .p-checkbox-box {
    border: 2px solid #ced4da;
    background: #ffffff;
    width: 18px;
    height: 18px;
    color: #495057;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-dropdown {
    cursor: pointer;
    display: flex!important;
    position: relative;
}
.p-dialog.p-dialog-header {
    border-bottom: 0none;
    background: #d3e0ec!important;
    color: #495057;
    padding: 0.3rem!important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
}
     
.p-dialog.p-dialog-header.p-dialog-title {
    font-weight: normal!important;
    font-size: 1.2rem!important;
    margin-left: 15px!important;
}
.p-panelmenu .p-panelmenu-header>a:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0 #ffffff !important;
}
.p-panelmenu .p-panelmenu-header-link:focus {
        z-index: 1;
}
.p-panelmenu .p-panelmenu-header>a {
        padding: .6rem !important;
        border: none !important;
        /* color: rgb(250, 250, 250)!important;
        background: rgb(11, 43, 102) !important; */
        background: white !important;
        color:  rgb(11, 43, 102) !important;
        font-weight: 600;
        border-radius: 3px;
        transition: box-shadow .2s;
}
.p-panelmenu .p-panelmenu-header>a .p-menuitem-icon, .p-panelmenu .p-panelmenu-header>a .p-panelmenu-icon {
        margin-right: .5rem;
        font-size: 1.2rem !important;
          color: #52de38 !important;
        /* float: right !important; */
}
.p-panelmenu .p-panelmenu-content {
        padding: .25rem 0;
        border: none !important;
        /* background: rgb(11, 43, 102) !important; */
        /* color: rgb(250, 250, 250)!important; */
        background: white !important;
        color:  rgb(11, 43, 102) !important;
        margin-bottom: 0;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
        /* background: rgb(11, 43, 102) !important; */
        background: #faf9f9 !important;   
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon, .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
        color: #52de38 !important;
        font-size: 1.2rem !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        /* color: rgb(250, 250, 250)!important; */
        color:  rgb(11, 43, 102) !important;
}
.p-panelmenu .p-panelmenu-header>a .p-panelmenu-icon {
        float: right !important;
        font-size: 1.2rem !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
        color: #52de38 !important;
        margin-right: .5rem;
        font-size: 1.2rem !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
        /* color: rgb(250, 250, 250)!important; */
        color: rgb(11, 43, 102) !important;
}
.p-button {
        color: #fff;
        background: rgb(11, 43, 102) !important;
        border: 1px solid rgb(11, 43, 102) !important;
        padding: .35rem 1rem !important;
        font-size: 1rem;
        transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
        border-radius: 3px;
}
.p-fieldset .p-fieldset-legend {
    padding: 1rem;
    background: #d3e0ec !important; 
    /* e3f2fd */
    font-weight: 600;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 0.5rem !important;
    color: #495057;
    border-radius: 3px;
    transition: box-shadow .2s;
}

.p-toast .p-toast-message.p-toast-message-error {
    background: #ff9494 !important;
    border: solid  #cc0808 !important;
    border-width: 0 0 0 6px;
    color: #3d0606 !important;
}

.p-toast .p-toast-message.p-toast-message-success {
    background: #9fda78 !important;
    border: solid  #24af24 !important;
    border-width: 0 0 0 6px;
    color: #084913 !important;
}

.p-toast .p-toast-message.p-toast-message-warning {
    background: #fce085 !important;
    border: solid  #c49104 !important;
    border-width: 0 0 0 6px;
    color: #5c4404 !important;
}

.p-toast .p-toast-message.p-toast-message-info {
    background: #a6beff !important;
    border: solid  #3e48da !important;
    border-width: 0 0 0 6px;
    color: #060b50 !important;
}

.p-overlaypanel {
    color: rgb(11, 43, 102) !important;
    background: whitesmoke !important;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}
.p-overlaypanel:after, .p-overlaypanel:before {
    border: solid hsla(0,0%,100%,0);
    border-bottom: solid whitesmoke !important;
}
.p-fieldset-legend>a, .p-fieldset-legend>span {
    display: inline-flex !important;
    font-size: 17px !important;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}
.p-fieldset .p-fieldset-content {
    padding: 0 0.2rem 0 0.2rem !important;
}
.p-datatable .p-datatable-footer, .p-datatable .p-datatable-thead>tr>th {
    padding: 0.35rem !important;
}
.p-datatable .p-datatable-tbody>tr>td {
    padding: .35rem !important;
}
legend {
    margin-bottom: 15px !important;
}
.p-datepicker{
    top: 2rem !important;
    z-index: 999 !important;
}
.p-datatable .p-datatable-thead>tr>th {
    border-bottom: 1px
    solid #093ea1!important;
    background: #0b2b66!important;
}
.p-datatable .p-datatable-footer, .p-datatable .p-datatable-thead>tr>th {
    color: whitesmoke !important;
}
.p-panel .p-panel-header {
    padding: 0.75rem !important;
}
.p-card .p-card-content {
    padding: 0.5rem 0 !important;
}
.p-inputtext {
    font-family: 'poppins' !important;
    font-size: 14px !important;
}
/* end #Region 4 */

/* customised angular material style #Region 5 */

mat-toolbar {
    background: rgb(11, 43, 102) !important;
    color: whitesmoke;
    top: 0 !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
}
.mat-toolbar-single-row {
    padding: 0 !important;
}

/* end  #Region 5*/

.loader {
    margin: 7px auto;
    font-size: 8px !important;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #5587f3 !important;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

#zmmtg-root {
   display: none;
}




