<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="Gallery">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <form #f="ngForm" name="GalleryForm">
                <p-card>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-3">
                                <div class="no-pad-top">
                                    <label>Date:</label>
                                </div>
                                <p-calendar [(ngModel)]="date" name="date" [showIcon]="true" required></p-calendar>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-3">
                                <div><label>Tittle:</label></div>
                                <input type="text" name="tittle" pInputText [(ngModel)]="tittle" required />
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-4 align-el-center">
                                <div><label>Attach file:</label></div>
                                <input class="p-col-12" name="_Uploadgallery" type="file" pInputText
                                    (change)="onFileUpload($event, 4)" accept=".png" required />
                            </div>
                        </div>
                    </div>
                </p-card>
            </form>
            <div class="p-col-12 p-md-6 p-lg12" style="margin-left:30%;">
                <button pButton type="button" label="Submit" [disabled]="(!f.valid)"> </button>
                <button pButton type="button" label="View" style="margin-left:10%;"></button>
            </div>
        </div>
    </p-panel>
</div>