<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="GALLERY">
    <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
     <p-card>   
     
<div  class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-12">
            <div class="no-pad-top"><label>Date:</label> </div> 
            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
        </div>
        
            <div class="p-col-12 p-md-6 p-lg-12">
                <div><label>Tittle:</label></div>
                <input type="text" size ="25" pInputText [(ngModel)]="tittle" />
            </div>

            <div class="p-col-12 p-md-6 p-lg-12">
            <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000"  [auto]="true"></p-fileUpload>
        
            </div>
    </div>
</div>
</p-card>
</div>
</p-panel>
</div>