<div class="p-col-12 p-md-12 p-lg-12" style="padding-top:25px; height: 520px;">
    <p-panel header="GALLERY">
        <div class="p-col-12 p-md-12 p-lg-12 no-pad-top">
            <p-card>   
                <div  class="p-col-12 p-md-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div class="no-pad-top">
                                <label>Date:</label> 
                            </div> 
                            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <div><label>Tittle:</label></div>
                            <input type="text"  pInputText [(ngModel)]="tittle" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4 align-el-center">
                            <input class="p-col-12" name="_guardianimg" type="file" pInputText (change)="onFileUpload($event, 4)" accept=".png" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2 align-el-center">
                            <button pButton name="upload" type="button" icon="pi pi-upload" label="Upload"></button>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-1"></div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <button pButton type="button" label="Submit" style="margin-left: 50%;"></button>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <button pButton type="button" label="View" style= "margin-left: 50%;"></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </p-panel>
</div>