<div class="p-col-12 p-md-12 p-lg-12" >
    <p-panel header="Subject Wise Test Result">
        <div class="p-grid"> 
            <div class="p-col-12 p-md-1 p-lg-2"></div>
        <div class="p-col-12 p-md-10 p-lg-6">
            <p-card>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Student Name: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{studentName}}ArunKumar </div>
                </div>
                <p-divider></p-divider>
                <div class="p-grid">
                    <div class="p-col-6 p-md-6 p-lg-6"><b>Class: </b></div>
                    <div class="p-col-6 p-md-6 p-lg-6">{{class}}XI </div>
                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>Roll Number: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">{{rollNo}}1 </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>Subject Name: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">Science </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>Test Name: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">Cyclic Test </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>No. of Questions: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">25 </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>Question Type: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">Two Marks </div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>Total Marks: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">50 marks</div>
                                </div>
                                <p-divider></p-divider>
                                <div class="p-grid">
                                    <div class="p-col-6 p-md-6 p-lg-6"><b>Marks Obtained: </b></div>
                                    <div class="p-col-6 p-md-6 p-lg-6">44 marks</div>
                                </div>
                                <p-divider></p-divider>
                </p-card>
        </div>
    </div>
        </p-panel>
       </div>
       